<template>
  <div class="netink-page page-account">
    <div class="page-content container clearfix">
      <aside class="side-bar pull-left">
        <div v-if="userInfo.id" class="profile">
          <div v-if="userInfo.avatar_url" class="avatar" v-html="userInfo.avatar_url"></div>
          <div v-else class="avatar"><img :src="customerInfo.avatar_url"/></div>
          <h4 class="name">{{userInfo.name}}</h4>
        </div>
        <div class="menu">
          <nuxt-link exact to="/account"><i class="icon-account_circle"></i> <span>账户信息</span></nuxt-link>
          <nuxt-link to="/account/orders/page/"><i class="icon-view_stream"></i> <span>我的订单</span></nuxt-link>
          <nuxt-link exact to="/account/address"><i class="icon-local_shipping"></i> <span>收货地址</span></nuxt-link>
          <nuxt-link exact to="/account/settings"><i class="icon-settings"></i> <span>设置</span></nuxt-link>
        </div>
        <footer class="footer">
          <a href="javascript:void(0);" @click="signout" class="button-logout"><i class="icon-exit_to_app"></i> 退出登录</a>
        </footer>
      </aside>
      <div class="content pull-right">
        <nuxt-child/>
      </div>
    </div>
  </div>
</template>
<script>
import { confirm } from '~/utils/ui'
import AuthHelper from '~/helpers/Auth'
import { mapGetters } from 'vuex'

export default {
  head () {
    return {
      title: '我的账户 - 网印网 专业网络印刷服务商'
    }
  },
  computed: {
    ...mapGetters(['userInfo', 'customerInfo'])
  },
  methods: {
    signout () {
      confirm ({
        title: '确定要退出吗?',
        text: '别担心，退出登录并不会清除您的订单信息，稍后用此账号登录即可继续购物。',
        onConfirm: () => {
          AuthHelper.signout()
          this.$router.replace('/')
        }
      })
    }
  }
}
</script>
<style lang="scss">
@import 'assets/scss/inc';

.page-account{
  .page-content{
    margin-bottom: 50px;
  }
  .side-bar{
    position: relative;
    width: 260px;
    height: 600px;
    overflow: hidden;
    background-color: $color_primary;
    border-radius: 3px;
    .profile{
      padding-top: 40px;
      padding-bottom: 30px;
      overflow: hidden;
      .avatar img{
        display: block;
        width: 70px;
        height: 70px;
        margin: 0 auto;
        border: 5px solid rgba(#fff, .15);
        border-radius: 50%;
      }
      .name{
        margin: 10px 0 0 0;
        padding: 0;
        color: #fff;
        font-size: 15px;
        text-align: center;
      }
    }
    .menu{
      margin-top: 20px;
      a{
        display: block;
        height: 58px;
        padding-left: 30px;
        color: rgba(#fff, .6);
        font-size: 14px;
        font-weight: 500;
        line-height: 58px;
        &:hover{
          background-color: rgba(#000, .03);
        }
        &.nuxt-link-active{
          background-color: rgba(#000, .05);
          color: #fff;
        }
        i{
          display: block;
          float: left;
          margin-right: 8px;
          font-size: 18px;
          line-height: 57px;
        }
        span{
          float: left;
        }
      }
    }
    .footer{
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 20px 0;
      border-top: 1px solid rgba(#fff, .1);
      text-align: center;
    }
    .button-logout{
      color: rgba(#fff, .7);
      font-size: 14px;
      &:hover{
        color: #fff;
      }
    }
  }
  .content{
    width: $content_width - 260 - 20;
    min-height: 600px;
    background-color: #fff;
    border-radius: 3px;
    .caption{
      padding: 0 20px;
      border-bottom: 1px solid $color_light;
      color: $color_caption_dark;
      font-size: 16px;
      font-weight: bold;
      line-height: 70px;
    }
  }
}
</style>

