<template>
  <div class="netink-page page-index">
    <div class="container">
      <index-banner/>
    </div>
    <div class="index-section section-products container">
      <h5 class="caption">热门商品</h5>
      <product-list :products="products.items" />
      <button @click="viewProducts" class="button button-primary button-xl button-view-all">查看全部商品</button>
    </div>
    <div class="section-separator"></div>
    <div class="index-section section-reviews container">
      <h5 class="caption">客户评价</h5>
      <ul class="review-list clearfix">
        <li v-for="review in reviews" :key="review.id">
          <img :src="review.avatar" :alt="review.name" class="avatar" />
          <h5 class="name">{{review.name}}<small>{{review.job}}</small></h5>
          <h6 class="rate">{{review.rate}}</h6>
          <p class="comment">{{review.comment}}</p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import IndexBanner from '~/components/business/IndexBanner'
import ProductList from '~/components/business/ProductList'
import ProductHelper from '~/helpers/Product'

export default {
  head () {
    return {
      title: '网印网 专业网络印刷服务商'
    }
  },
  components: {
    IndexBanner,
    ProductList,
  },
  data () {
    return {
      products: {
        total: 0,
        items: []
      },
      reviews: [
        {
          id: 1,
          name: '张女士',
          job: '广告公司经理',
          avatar: '/images/avatars/avatar_3.png',
          rate: "★★★★☆",
          comment: '“网印网的印刷质量靠谱，已经给好多圈内的朋友推荐了，大家也都觉得很不错。”',
        }, {
          id: 2,
          name: '西蒙',
          job: '独立设计师',
          avatar: '/images/avatars/avatar_4.png',
          rate: "★★★★☆",
          comment: '“网印网的整体气质就很不错，印刷出来的产品很有档次很有水平！”',
        }, {
          id: 3,
          name: '刘先生',
          job: '新闻从业者',
          avatar: '/images/avatars/avatar_2.png',
          rate: "★★★★☆",
          comment: '“自从知道网印网以后，我所有的印刷需要都交给它啦，我可是忠实用户呢”',
        }, {
          id: 4,
          name: '小黄',
          job: '广告公司实习生',
          avatar: '/images/avatars/avatar_1.png',
          rate: "★★★★★",
          comment: '“网印帮我解决了太多印刷方面的问题，让我学到了很多，很棒很棒的网站哟”',
        },
      ]
    }
  },
  async asyncData () {
    try {
      const products = await ProductHelper.getProducts({ page: 1, per_page: 8 })
      if (products && products.total && products.items) {
        return { products }
      } else {
        return {}
      }
    } catch (error) {
      return {}
    }
  },
  methods: {
    viewProducts () {
      this.$router.push('products')
    }
  }
}
</script>

<style lang="scss">
@import 'assets/scss/inc';

.page-index{
  .section-separator{
    height: 1px;
    background-color: $color_light;
  }
  .index-section{
    margin-top: 50px;
    padding-bottom: 50px;
    .caption{
      margin: 0 0 40px 0;
      color: $color_caption;
      font-size: 24px;
      font-weight: 500;
      text-align: center;
      &::after{
        display: block;
        margin: 10px auto 0 auto;
        width: 60px;
        height: 2px;
        background-color: $color_primary;
        content: '';
      }
    }
  }
  .button-view-all{
    display: block;
    width: 180px;
    margin: 40px auto 0 auto;
  }
  .review-list {
    list-style: none;
    margin: 0 -10px 0 0;
    padding: 0;
    li{
      display: block;
      float: left;
      width: ($content_width - 30) / 4;
      height: 400px;
      margin: 0 10px 10px 0;
      overflow: hidden;
      background-color: #fff;
      border: 1px solid #fff;
      border-radius: 5px;
      transition: box-shadow .3s;
      &:hover{
        box-shadow: 0 5px 20px rgba(#000, .1);
      }
      .avatar{
        display: block;
        width: 90px;
        height: 90px;
        margin: 50px auto 0 auto;
        overflow: hidden;
        border-radius: 50%;
        object-fit: cover;
      }
      .name{
        display: block;
        margin: 15px 0 0 0;
        color: $color_caption_dark;
        font-size: 19px;
        font-weight: 500;
        text-align: center;
        small{
          display: block;
          padding-top: 5px;
          color: $color_caption_light;
          font-size: 12px;
          font-weight: normal;
        }
      }
      .rate{
        margin: 10px 0 0 0;
        color: #f90;
        font-size: 18px;
        text-align: center;
      }
      .comment{
        width: 250px;
        margin: 20px auto 0 auto;
        padding: 0;
        color: $color_caption_dark;
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        text-align: center;
        text-indent: 1em;
      }
    }
  }
}
</style>
