<template>
  <div class="netink-page page-product">
    <div v-if="product.id" class="product-detail container clearfix">
      <div class="section-primary clearfix">
        <div v-if="product.images" class="product-images pull-left">
          <img :src="product.images[imageIndex].src" :alt="product.name" class="image" />
          <div class="thumb-images">
            <img v-for="(image, index) in product.images" @click="selectImage(index)" :src="image.src" :key="image.id" :class="{active: imageIndex === index}" />
          </div>
        </div>
        <div v-else class="product-images pull-left"></div>
        <product-info class="pull-right" :product="product"/>
      </div>
      <!-- <div class="section-tab">
        <div class="info-tab">
          <div class="tab-handlers">
            <span class="tab-handler active">详情</span>
            <span class="tab-handler">规格参数</span>
            <span class="tab-handler">评价</span>
          </div>
          <div class="tab-contents">
            <div class="tab-content" v-html="product.description"></div>
            <div class="tab-content"></div>
            <div class="tab-content"></div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</template>

<script>
import ProductInfo from '~/components/business/ProductInfo'
import ProductHelper from '~/helpers/Product'

export default {
  head () {
    return {
      title: '网印网 专业网络印刷服务商'
    }
  },
  components: {
    ProductInfo,
  },
  data () {
    return {
      product: {},
      imageIndex: 0
    }
  },
  methods: {
    selectImage (index) {
      this.imageIndex = index
    }
  },
  async asyncData (params) {
    if (params.route.params && params.route.params.productId) {
      const product = await ProductHelper.getProductInfo(params.route.params.productId)
      return { product }
    }
  },
  mounted () {
    
  }
}
</script>

<style lang="scss">
@import 'assets/scss/inc';

.page-product{
  .product-detail{
    margin: 0 auto 50px auto;
  }
  .section-primary{
    background-color: #fff;
    border-radius: 3px;
  }
  .product-images{
    width: 550px;
    height: 700px;
    padding: 50px 30px;
    border-right: 1px solid $color_ultra_light;
    .image{
      display: block;
      width: 490px;
      height: 490px;
      overflow: hidden;
      object-fit: cover;
    }
    .thumb-images{
      margin-top: 30px;
      text-align: center;
      img{
        display: inline-block;
        width: 80px;
        height: 80px;
        margin: 0 5px;
        border: 3px solid #fff;
        cursor: pointer;
        object-fit: cover;
        &:hover{
          border-color: $color_light;
        }
        &.active{
          border-color: $color_primary;
        }
      }
    }
  }
  .section-tab{
    padding: 0;
    background-color: #fff;
    border-radius:  0 0 3px 3px;
  }
  .info-tab{
    .tab-handlers{
      height: 58px;
      padding: 0 30px;
      border-bottom: 1px solid $color_light;
      .tab-handler{
        display: block;
        float: left;
        padding: 0 60px;
        color: $color_caption;
        font-size: 14px;
        font-weight: bold;
        line-height: 57px;
        border-bottom: 1px solid $color_light;
        &.active{
          color: $color_primary;
          border-bottom-color: $color_primary;
        }
      }
    }
    .tab-content{
      padding: 30px;
    }
  }
}
</style>
