<template>
  <div class="netink-page page-products">
    <header class="header-section">
      <div class="container">
        <h3 class="caption pull-left">
          <span>全部商品</span>
          <small>全场共{{products.total}}个商品</small>
        </h3>
        <div class="searcher pull-right">
          <i @click="searchProducts" class="iconfont icon-search"></i>
          <input @keyup.enter="searchProducts" v-model="query.keyword" type="text" maxlength="30" class="input-keyword pull-left" placeholder="搜索商品"/>
          <button class="button button-primary button-md button-search pull-right">搜索</button>
        </div>
      </div>
    </header>
    <div class="products-section container">
      <product-list :products="products.items" />
      <button @click="loadMoreProducts" class="button button-primary button-xl button-view-all">查看更多</button>
    </div>
  </div>
</template>

<script>
import ProductList from '~/components/business/ProductList'
import ProductHelper from '~/helpers/Product'

export default {
  head () {
    return {
      title: '全部商品 - 网印网 专业网络印刷服务商'
    }
  },
  components: {
    ProductList,
  },
  data () {
    return {
      query: {
        keyword: '',
        page: 1,
        pageSize: 16
      },
      products: {
        total: 0,
        items: []
      },
    }
  },
  async asyncData () {
    try {
      const products = await ProductHelper.getProducts({ page: 1, per_page: 16 })
      return { products }
    } catch (error) {

    }
  },
  mounted () {
    
  },
  methods: {
    searchProducts () {
      const keyword = this.query.keyword.trim()
      keyword && this.$router.push(`/products/search/${keyword}`)
    },
    loadMoreProducts () {

    }
  }
}
</script>

<style lang="scss">
@import 'assets/scss/inc';

.page-products{
  .header-section{
    height: 85px;
    border-bottom: 1px solid $color_light;
    .caption{
      color: $color_caption_dark;
      font-size: 20px;
      font-weight: normal;
      small{
        display: block;
        color: $color_caption_light;
        font-size: 14px;
      }
    }
    .searcher{
      position: relative;
      margin-top: 5px;
      .icon-search{
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 36px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        color: $color_caption;
        cursor: pointer;
        &:hover{
          color: $color_primary;
        }
      }
      .input-keyword{
        width: 280px;
        height: 36px;
        padding: 0 10px;
        border: 1px solid $color_light;
        border-radius: 3px;
        color: $color_caption;
        font-size: 14px;
        &:focus{
          border-color: $color_primary;
        }
      }
      .button-search{
        display: none;
        width: 80px;
      }
    }
  }
  .products-section{
    margin: 50px auto;
    .button-view-all{
      display: block;
      width: 180px;
      margin: 40px auto 0 auto;
    }
  }
}
</style>
