<template>
  <div class="section-shipping-address">
    <h4 class="caption"><i class="icon-local_shipping"></i> 收货地址</h4>
    <div v-if="initialized" class="form-content">
      <div :data-invaild="!!invalidFields['address']" class="input-group address-input">
        <label for="shipping-address">收货地址</label>
        <input id="shipping-address" autocomplete="address-line1" maxlength="150" type="text" v-model.trim="address" placeholder="请填写详细的收货地址"/>
      </div>
      <div class="clearfix">
        <div :data-invaild="!!invalidFields['name']" class="input-group name-input">
          <label for="shipping-name">收货人</label>
          <input id="shipping-name" autocomplete="name" maxlength="20" type="text" v-model="name" placeholder="请填写收货人姓名"/>
        </div>
        <div :data-invaild="!!invalidFields['phone']" class="input-group phone-input">
          <label for="shipping-phone">联系电话</label>
          <input id="shipping-phone" autocomplete="tel-national" maxlength="20" type="tel" v-model.trim="phone" placeholder="请填写收货人电话号码"/>
        </div>
        <div :data-invaild="!!invalidFields['postcode']" class="input-group postcode-input">
          <label for="shipping-postcode">邮政编码</label>
          <input id="shipping-postcode" autocomplete="postal-code" maxlength="10" type="text" v-model.trim="postcode" placeholder="选填"/>
        </div>
      </div>
      <footer class="footer">
        <button @click="updateAddress" :disabled="processing" class="button button-save button-primary button-lg">{{processing ? '请稍候' : '保存'}}</button>
      </footer>
    </div>
    <no-ssr v-else><loading top="160px" text="数据加载中"/></no-ssr>
  </div>
</template>
<script>
import Validator from '~/helpers/Validator'
import CustomerHelper from '~/helpers/Customer'
import { customerAddressRules } from '~/configs/validate'

export default {
  head () {
    return {
      title: '收货地址 - 网印网 专业网络印刷服务商'
    }
  },
  computed: {
    customerInfo () {
      return this.$store.state.userInfo.customerInfo
    }
  },
  watch: {
    customerInfo (customerInfo) {
      this.initializeAddress(customerInfo)
    },
  },
  data () {
    return {
      address: '',
      name: '',
      phone: '',
      postcode: '',
      initialized: false,
      processing: false,
      invalidFields: {}
    }
  },
  mounted () {
    this.initializeAddress(this.customerInfo)
  },
  methods: {
    initializeAddress (customerInfo) {
      if (customerInfo && customerInfo.billing) {
        this.address = customerInfo.billing.address_1
        this.name = customerInfo.billing.first_name
        this.phone = customerInfo.billing.phone
        this.postcode = customerInfo.billing.postcode
        this.initialized = true
      }
    },
    async updateAddress () {

      const { invalids, passed } = Validator.validateGroup(this.$data, customerAddressRules)

      this.invalidFields = invalids

      if (!passed) {
        return false
      }

      const billing = {
        address_1: this.address,
        first_name: this.name,
        phone: this.phone,
        postcode: this.postcode,
      }

      this.processing = true

      try {
        await CustomerHelper.updateCustomerInfo({
          woocommerceCustomerInfo: { billing }
        })
        this.processing = false
      } catch (error) {
        this.processing = false
      }

    }
  }
}
</script>

<style lang="scss">
@import 'assets/scss/inc';

.section-shipping-address{
  .form-content{
    width: 500px;
    margin: 0 auto;
    padding: 30px 0 60px 0;
  }
  .button-save{
    width: 120px;
  }
}
</style>

