<template>
  <div v-if="userInfo && userInfo.id" class="section-accout-info">
    <div class="section-caption">
      <h3>你好，<b>{{userInfo.name}}</b>!</h3>
    </div>
    <h6 class="sub-caption">
      <span>以下是您的账户的概要信息</span>
      <span class="signout-entry pull-right">不是<b>{{userInfo.name}}</b>？请<a @click="signout" href="javascript:void(0);">点此退出</a></span>
    </h6>
    <div class="section section-logins">
      <span><i class="icon-vpn_key"></i> 这是您第<b>{{userInfo.user_login_times || 1}}</b>次登录网印网，您上次登录是在 <b>{{userInfo.user_last_login | formatTimeStamp}}</b></span>
      <nuxt-link class="pull-right" to="/account/settings"><b>修改登录密码</b></nuxt-link>
    </div>
    <div class="section section-orders">
      <span><i class="icon-payment"></i> 您的账户中共有<b>{{orderCounts.total}}</b>个订单，其中有<b>{{orderCounts.pending}}</b>个订单还未支付</span>
      <nuxt-link class="pull-right" to="/account/orders/page/"><b>查看订单记录</b></nuxt-link>
    </div>
    <div v-if="!customerInfo.billing || !customerInfo.billing.address_1" class="section section-address section-warning">
      <span><i class="icon-local_shipping"></i> 您还没有填写有效的收货地址，为了方便进行交易，请尽快填写收货地址</span>
      <nuxt-link class="pull-right" to="/account/address"><b>填写收货地址</b></nuxt-link>
    </div>
  </div>
</template>
<script>
import { confirm } from '~/utils/ui'
import AuthHelper from '~/helpers/Auth'
import OrderHelper from '~/helpers/Order'
import { mapGetters } from 'vuex'

export default {
  head () {
    return {
      title: '我的账户 - 网印网 专业网络印刷服务商'
    }
  },
  computed: {
    ...mapGetters(['userInfo', 'customerInfo'])
  },
  data () {
    return {
      orderCounts: {
        total: 0,
        pending: 0
      }
    }
  },
  methods: {
    signout () {
      confirm ({
        title: '确定要退出吗?',
        text: '别担心，退出登录并不会清除您的订单和购物车信息，稍后用此账号登录即可继续购物。',
        onConfirm: () => {
          AuthHelper.signout()
          this.$router.replace('/')
        }
      })
    },
    async getOrderCounts () {
      try {
        this.orderCounts = await OrderHelper.getOrderCounts()
      } catch (error) {

      }
    }
  },
  mounted () {
    this.getOrderCounts()
  },
}
</script>

<style lang="scss">
@import 'assets/scss/inc';

.section-accout-info{
  padding: 40px 30px;
  .section-caption{
    h3{
      margin: 0;
      padding: 0;
      color: $color_primary;
      font-size: 28px;
      font-weight: normal;
    }
  }
  .sub-caption{
    margin-top: 10px;
    margin-bottom: 30px;
    color: $color_caption;
    font-size: 14px;
    font-weight: normal;
  }
  .signout-entry{
    a{
      color: $color_danger;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .section{
    margin-top: 10px;
    padding: 20px;
    background-color: $color_ultra_light;
    border-radius: 3px;
    color: $color_caption;
    font-size: 14px;
    &-warning{
      background-color: rgba($color_warning, .1);
    }
    a{
      color: $color_primary;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  
}
</style>

