<template>
  <div class="section-customer-settings">
    <h4 class="caption"><i class="icon-settings"></i> 设置</h4>
    <div v-if="initialized" class="form-content">
      <div :data-invaild="!!invalidFields['name']" class="input-group name-input">
        <label for="customer-name">用户昵称</label>
        <input id="customer-name" autocomplete="name" maxlength="20" type="text" v-model.trim="name" placeholder="请填写用户昵称"/>
      </div>
      <div :data-invaild="!!invalidFields['email']" class="input-group email-input">
        <label for="customer-email">邮箱地址<small>用于接收订单信息以及网印网活动消息</small></label>
        <input id="customer-email" autocomplete="email" maxlength="50" type="email" v-model.trim="email" placeholder="请填写邮箱地址"/>
      </div>
      <h5 class="sub-caption">
        <span class="text-danger"><i class="icon-lock_outline"></i> 修改账户密码</span>
      </h5>
      <div :data-invaild="!!invalidFields['password']" class="input-group password-input">
        <label for="customer-password">当前密码</label>
        <input id="customer-password" autocomplete="password" maxlength="20" type="text" v-model.trim="password" placeholder="请填写当前密码"/>
      </div>
      <div :data-invaild="!!invalidFields['newPassword']" class="input-group new-password-input">
        <label for="customer-new-password">新密码</label>
        <input id="customer-new-password" autocomplete="new-password" maxlength="20" type="text" v-model.trim="newPassword" placeholder="请填写新的密码"/>
      </div>
      <div :data-invaild="!!invalidFields['repeatNewPassword']" class="input-group repeat-new-password-input">
        <label for="customer-repeat-new-password">确认新密码</label>
        <input id="customer-name" autocomplete="new-password" maxlength="20" type="text" v-model.trim="repeatNewPassword" placeholder="请重复新的密码"/>
      </div>
      <footer class="footer">
        <button @click="updateSettings" :disabled="processing" class="button button-save button-primary button-lg">{{processing ? '请稍候' : '保存'}}</button>
      </footer>
    </div>
    <no-ssr v-else><loading top="160px" text="数据加载中"/></no-ssr>
  </div>
</template>
<script>
import Validator from '~/helpers/Validator'
import CustomerHelper from '~/helpers/Customer'
import { userSettingsRules } from '~/configs/validate'
import { toastLoading, hideToastLoading } from '~/utils/ui'

export default {
  head () {
    return {
      title: '设置 - 网印网 专业网络印刷服务商'
    }
  },
  computed: {
    userInfo () {
      return this.$store.state.userInfo
    }
  },
  watch: {
    userInfo (userInfo) {
      this.initializeSettings(userInfo)
    },
  },
  methods: {
    initializeSettings (userInfo) {
      if (userInfo && userInfo.name) {
        this.name = userInfo.name
        this.email = userInfo.user_email || ''
        this.initialized = true
      }
    },
    async updateSettings () {

      const { invalids, passed } = Validator.validateGroup(this.$data, userSettingsRules)
      this.invalidFields = invalids

      if (!passed) {
        return false
      }

      try {

        this.processing = true
        toastLoading('正在更新，请稍候')

        let params = {}
        this.name && (params.name = this.name)
        this.email && (params.email = this.email)
        this.password && (params.password = this.password)
        this.newPassword && (params.newPassword = this.newPassword)

        await CustomerHelper.updateCustomerInfo(params)

        this.processing = false
        hideToastLoading()

      } catch (error) {
        this.processing = false
        hideToastLoading()
        // ...
      }

    }
  },
  mounted () {
    this.initializeSettings(this.userInfo)
  },
  data () {
    return {
      initialized: false,
      invalidFields: {},
      processing: false,
      name: '',
      email: '',
      password: '',
      newPassword: '',
      repeatNewPassword: ''
    }
  }
}
</script>
<style lang="scss">
@import 'assets/scss/inc';

.section-customer-settings{
  .form-content{
    width: 500px;
    margin: 0 auto;
    padding: 30px 0 60px 0;
  }
  .sub-caption{
    margin-top: 50px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color_light;
    color: $color_caption;
    font-size: 14px;
  }
  .button-save{
    width: 120px;
  }
}
</style>


