<template>
  <div class="section-orders">
    <h4 class="caption"><i class="icon-view_stream"></i> 我的订单</h4>
    <div v-if="initiailized" lass="order-list-wrap">
      <ul class="order-list">
        <li class="order-item" v-for="order in orders.items" :key="order.id">
          <div class="id pull-left">
            <nuxt-link exact :to="`/account/orders/${order.id}`" class="order-id">订单编号 <b>{{order.id}}</b></nuxt-link>
            <span class="date">创建于{{order.date_created}}</span>
          </div>
          <div v-if="order.line_items.length" class="metas pull-left">
            <span class="name"><b>{{order.line_items[0].name}}</b>等{{order.line_items.length}}件商品</span>
            <span class="price">共计<b>&yen;{{order.total}}</b></span>
          </div>
          <div v-else class="metas pull-left">
            <span class="name text-danger">该订单无商品</span>
            <span class="price"></span>
          </div>
          <div class="status pull-left">
            <span :class="order.status">{{statusText(order.status)}}</span>
          </div>
          <div v-if="order.status === 'pending'" class="operations pull-right">
            <button class="button-purchase">支付</button>
            <nuxt-link exact :to="`/account/orders/${order.id}`" class="button-view">查看</nuxt-link>
            <button class="button-cancel">取消</button>
          </div>
          <div v-else class="operations pull-right">
            <nuxt-link exact :to="`/account/orders/${order.id}`" class="button-view">查看</nuxt-link>
          </div>
        </li>
      </ul>
      <footer class="footer">
        <pagination class="pager" urlPrefix="/account/orders/page" :ignoreFirstPage="true" :page="page" :pageSize="query.per_page" :total="orders.total"/>
      </footer>
    </div>
    <no-ssr v-else><loading top="160px" text="数据加载中"/></no-ssr>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import OrderHelper from '~/helpers/Order'
import { orderStatusMap } from '~/configs/constants'

export default {
  head () {
    return {
      title: '我的订单 - 网印网 专业网络印刷服务商'
    }
  },
  data () {
    return {
      initiailized: false,
      query: {
        keyword: '',
        per_page: 10
      },
      orders: {
        total: 0,
        items: []
      }
    }
  },
  computed: {
    page () {
      return parseInt(this.$route.params.page, 10) || 1
    },
    ...mapGetters(['userId'])
  },
  watch: {
    $route (route, lastRoute) {
      this.loadOrders()
    },
    userId (userId, lastUserId) {
      if (userId !== lastUserId) {
        this.loadOrders()
      }
    }
  },
  methods: {
    statusText (status) {
      return orderStatusMap[status] || status
    },
    async loadOrders () {
      if (!this.userId) {
        return false
      }
      try {
        const page = this.page
        const orders = await OrderHelper.getOrders({ ...this.query, page })
        this.orders = orders
        this.initiailized = true
      } catch (error) {
        this.initiailized = true
      }
    }
  },
  mounted () {
    this.loadOrders()
  }
}
</script>

<style lang="scss">
@import 'assets/scss/inc';

.section-orders{
  .order-list{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .order-item{
    margin: 0 20px;
    padding: 25px 0;
    overflow: hidden;
    border-bottom: 1px dashed $color_light + 10;
    .id{
      width: 180px;
      .order-id{
        display: block;
        margin-top: 10px;
        color: $color_caption_dark;
        font-size: 14px;
        &:hover{
          color: $color_primary;
        }
      }
      .date{
        color: $color_caption_light;
        font-size: 12px;
      }
    }
    .items{
      width: 60px;
      .item{
        position: relative;
        float: left;
        width: 60px;
        height: 60px;
        background-color: $color_light;
        border-radius: 3px;
      }
    }
    .metas{
      width: 280px;
      margin-left: 20px;
      span{
        display: block;
      }
      .name{
        margin-top: 13px;
        color: $color_caption;
        font-size: 14px;
        line-height: 14px;
        b{
          display: block;
          float: left;
          max-width: 6em;
          overflow: hidden;
          color: $color_caption_dark;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .price{
        margin-top: 5px;
        color: $color_caption;
        font-size: 12px;
        line-height: 20px;
        b{
          color: $color_warning;
          font-weight: normal;
        }
      }
      .date{
        color: $color_caption_light;
        font-size: 12px;
      }
    }
    .status{
      margin-left: 20px;
      span{
        display: inline-block;
        height: 20px;
        margin-top: 20px;
        padding: 0 10px;
        background-color: $color_ultra_light;
        border-radius: 2px;
        color: $color_caption;
        font-size: 12px;
        line-height: 20px;
      }
    }
    .operations{
      a,button{
        display: inline-block;
        height: 16px;
        margin-top: 20px;
        margin-right: 5px;
        background-color: transparent;
        border: none;
        color: $color_caption;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
        &.button-purchase{
          color: $color_primary;
        }
        &.button-cancel{
          color: $color_danger;
        }
      }
    }
  }
  .footer{
    height: 100px;
    overflow: hidden;
    .pager{
      width: 200px;
      margin: 30px auto 0 auto;
    }
  }
}
</style>

