<template>
  <div class="netink-authorize">
    <div v-if="processing" class="processing-mask"><loading text="处理中，请稍后" top="200px"/></div>
    <a href="javascript:void(0);" @click="close" class="button-close"><i class="icon-close"></i></a>
    <div class="icon-caption">
      <i class="icon-account_circle"></i>
    </div>
    <h4 class="sub-caption">登陆之后方可购买商品和管理订单</h4>
    <form v-if="formType === 'signin'" class="login-form">
      <div class="input-group">
        <i class="icon icon-account_circle"></i>
        <input autocomplete="username" name="username" v-model.trim="username" maxlength="30" type="text" placeholder="输入用户名"/>
      </div>
      <div class="input-group">
        <i class="icon icon-vpn_key"></i>
        <input autocomplete="new-password" name="password" v-model.trim="password" maxlength="30" type="password" placeholder="输入密码"/>
      </div>
      <div class="form-footer clearfix">
        <button @click="signin" type="button" :disabled="!username || !password" class="button-confirm button button-primary button-xl">登录</button>
        <button @click="close" type="button" class="button-cancel button button-default button-xl">取消</button>
        <div class="signup-entry">
          还没有账号？<a @click="switchFormType('signup')" href="javascript:void(0);">注册一个</a>
        </div>
      </div>
    </form>
    <form v-else class="login-form">
      <div class="input-group">
        <i class="icon icon-account_circle"></i>
        <input autocomplete="username" name="username" v-model.trim="username" maxlength="30" type="text" placeholder="输入用户名"/>
      </div>
      <div class="input-group">
        <i class="icon icon-mail_outline"></i>
        <input autocomplete="email" name="email" v-model.trim="email" maxlength="30" type="email" placeholder="输入邮箱地址"/>
      </div>
      <div class="input-group">
        <i class="icon icon-vpn_key"></i>
        <input autocomplete="new-password" name="password" v-model.trim="password" maxlength="30" type="password" placeholder="输入密码"/>
      </div>
      <div class="form-footer clearfix">
        <button @click="signup" type="button" :disabled="!username || !password || !email" class="button-confirm button button-primary button-xl">注册</button>
        <button @click="close" type="button" class="button-cancel button button-default button-xl">取消</button>
        <div class="login-entry">
          已有账号？<a @click="switchFormType('signin')" href="javascript:void(0);">马上登录</a>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
import AuthHelper from '~/helpers/Auth'

export default {
  props: ['onClose', 'onSignIn', 'onSignUp'],
  data () {
    return {
      formType: 'signin',
      email: '',
      username: '',
      password: '',
      processing: false
    }
  },
  methods: {
    switchFormType (formType) {
      this.formType = formType
    },
    close () {
      this.$modal.hide('authorize-modal')
      this.onClose && this.onClose()
    },
    async signin () {
      try {
        this.processing = true
        await AuthHelper.signin({ username: this.username, password: this.password })
        this.processing = false
        this.onSignIn && this.onSignIn()
        this.$modal.hide('authorize-modal')
      } catch (error) {
        this.processing = false
      }
    },
    async signup () {
      try {
        this.processing = true
        await AuthHelper.signup({ email: this.email, username: this.username, password: this.password })
        this.processing = false
        this.onSignUp && this.onSignUp()
        this.$modal.hide('authorize-modal')
      } catch (error) {
        this.processing = false
      }
    }
  }
}
</script>

<style lang="scss">
@import 'assets/scss/inc';

.netink-authorize{
  position: relative;
  width: 400px;
  margin: 0 auto;
  padding: 50px 60px 50px 60px;
  background-color: #fff;
  border-radius: 3px;
  .processing-mask{
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
  }
  .button-close{
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    i{
      display: block;
      width: 30px;
      height: 30px;
      color: $color_caption_light;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      &:hover{
        color: $color_danger;
      }
    }
  }
  .icon-caption{
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    i{
      color: #d1d5d9;
      font-size: 120px;
      line-height: 120px;
      text-align: center;
    }
  }
  .sub-caption{
    margin-top: 15px;
    color: $color_primary;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
  .login-form{
    margin-top: 40px;
  }
  .input-group{
    position: relative;
    height: 48px;
    margin-bottom: 10px;
    .icon{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 20px;
      height: 48px;
      color: $color_caption_light;
      font-size: 18px;
      line-height: 50px;
      text-align: center;
    }
    input{
      width: 100%;
      height: 47px;
      margin: 2px 0;
      padding: 0 10px 0 30px;
      border: none;
      border-bottom: 1px solid $color_light;
      border-radius: 0;
      color: $color_caption;
      font-size: 14px;
      &:focus{
        border-bottom-color: $color_primary;
      }
    }
  }
  .form-footer{
    margin-top: 30px;
  }
  .signup-entry,
  .login-entry{
    margin-top: 20px;
    height: 36px;
    color: $color_caption_light;
    font-size: 12px;
    line-height: 36px;
    text-align: center;
    a{
      color: $color_primary;
      font-weight: bold;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .button-confirm,
  .button-cancel{
    width: 100%;
    font-weight: bold;
  }
  .button-cancel{
    display: none;
    margin-top: 10px;
  }
}
</style>

