<template>
  <footer class="netink-footer">
    <div class="container clearfix">
      <ul class="menu pull-left">
        <li><a href="#">首页</a></li>
        <li><a href="#">商品</a></li>
        <li><a href="#">博客</a></li>
      </ul>
      <span class="copyright pull-right">&copy;2018 网印网</span>
      <a href="#" class="logo">NETINK</a>
    </div>
  </footer>
</template>
<style lang="scss">
@import 'assets/scss/inc';

$footer_height: 100px;

.netink-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footer_height;
  background-color: $color_dark;
  .container{
    overflow: hidden;
  }
  .menu{
    list-style: none;
    padding: 0;
    margin: ($footer_height - 30) / 2 0 0 0;
    overflow: hidden;
    li{
      display: block;
      float: left;
      height: 30px;
      list-style: none;
      margin: 0 60px 0 0;
      a{
        color: rgba(#fff, .8);
        font-size: 14px;
        line-height: 30px;
      }
    }
  }
  .copyright{
    display: block;
    height: 30px;
    margin: ($footer_height - 30) / 2 0 0 0;
    color: rgba(#fff, .8);
    font-size: 14px;
    line-height: 30px;
  }
  .logo{
    display: block;
    width: 100px;
    height: 42px;
    margin: ($footer_height - 42) / 2 auto 0 auto;
    border: 1px solid rgba(#fff, .4);
    color: rgba(#fff, .6);
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    &:hover{
      border-color: $color_primary;
      color: $color_primary;
    }
  }
}
</style>

