<template>
  <div class="index-banner"></div>
</template>
<style lang="scss" scoped>
@import 'assets/scss/inc';

.index-banner{
  height: 460px;
  background-color: #e1e2e3;
  border-radius: 3px;
}
</style>
