<template>
  <header class="netink-navbar">
    <div class="container">
      <div class="primary-logo pull-left">
        <h1>网印网</h1>
      </div>
      <div class="header-entries pull-right">
        <div class="cart-entry pull-left">
          <button class="button-cart">
            <i class="icon icon-shopping_cart"></i>
            <span>购物车</span>
            <b v-if="cartCount">{{cartCount}}</b>
          </button>
          <tiny-cart class="navbar-cart" />
        </div>
        <button @click="authorize" v-if="!userInfo.id" class="button button-sm button-primary button-signin pull-right">登录</button>
        <div v-else class="user-profile pull-right">
          <nuxt-link class="user-name pull-left" exact to="/account">{{userInfo.name}}</nuxt-link>
          <nuxt-link v-if="userInfo.avatar_url" class="user-avatar pull-left" exact to="/account" v-html="userInfo.avatar_url"></nuxt-link>
          <nuxt-link v-else class="user-avatar pull-left" exact to="/account"><img :src="customerInfo.avatar_url"/></nuxt-link>
        </div>
      </div>
      <div class="primary-menu">
        <ul>
          <li><nuxt-link exact to="/">首页</nuxt-link></li>
          <li><nuxt-link to="/products">商品</nuxt-link></li>
          <li><nuxt-link to="/blog">博客</nuxt-link></li>
        </ul>
      </div>
    </div>
  </header>
</template>

<script>
import AuthHelper from '~/helpers/Auth'
import CartHelper from '~/helpers/Cart'
import CustomerHelper from '~/helpers/Customer'
import TinyCart from '~/components/business/TinyCart'
import { mapGetters } from 'vuex'

export default {
  components: {
    TinyCart
  },
  computed: {
    cartCount () {
      return this.$store.state.cartItems.length
    },
    ...mapGetters(['userInfo', 'customerInfo'])
  },
  methods: {
    authorize () {
      AuthHelper.requestAuth()
    }
  },
  async mounted () {
    try {
      await CustomerHelper.getCustomerInfo(true)
      await CartHelper.getCartItems()
    } catch (error) {

    }
  }
}
</script>

<style lang="scss">
@import 'assets/scss/inc';

.netink-navbar{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: $navbar_height;
  background-color: $color_dark - 20;
  box-shadow: 0 1px 5px rgba(#000, .07);
  .primary-menu{
    width: 400px;
    margin: 0 auto;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: $navbar_height;
      text-align: center;
      li{
        display: inline-block;
        width: 100px;
        height: $navbar_height;
        text-align: center;
        a{
          display: block;
          margin-top: ($navbar_height - 20) / 2;
          color: rgba(#fff, .35);
          font-size: 15px;
          font-weight: 700;
          line-height: 20px;
          text-align: center;
          text-decoration: none;
          &:hover{
            color: #fff;
          }
          &.nuxt-link-active{
            color: #fff;
          }
        }
      }
    }
  }

  .primary-logo{
    width: 160px;
    height: $navbar_height;
    padding-left: 38px;
    background-image: url(~/assets/images/logo.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 30px auto;
    margin: 0 auto;
    text-align: left;
    h1{
      margin: 0;
      padding: 0;
      color: #fff;
      font-size: 22px;
      font-weight: normal;
      line-height: $navbar_height;
    }
  }

  .header-entries{
    float: right;
  }

  .cart-entry{
    position: relative;
    height: $navbar_height;
    &:hover{
      .navbar-cart{
        display: block;
      }
    }
  }
  .button-cart{
    position: relative;
    height: 32px;
    margin-top: $navbar_height / 2 - 16;
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: rgba(#fff, .7);
    font-size: 12px;
    font-weight: bold;
    line-height: 32px;
    cursor: pointer;
    &:hover{
      color: #fff;
    }
    i{
      position: relative;
      top: 1px;
      font-size: 16px;
    }
    span{
      padding-left: 5px;
    }
    b{
      display: inline-block;
      position: relative;
      top: -1px;
      width: auto;
      min-width: 20px;
      height: 20px;
      margin-left: 5px;
      padding: 0 4px;
      background-color: $color_primary;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      font-weight: lighter;
      line-height: 20px;
    }
  }

  .button-signin{
    width: 80px;
    margin-top: $navbar_height / 2 - 16;
  }

  .user-profile{
    height: 32px;
    margin-top: $navbar_height / 2 - 16;
    .user-name{
      margin-right: 10px;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      line-height: 32px;
      &:hover{
        text-decoration: underline;
      }
    }
    .user-avatar{
      display: block;
      width: 32px;
      height: 32px;
      overflow: hidden;
      background-color: #999;
      border-radius: 50%;
      img{
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
    }
  }
  .navbar-cart{
    display: none;
  }
}
</style>
