<template>
  <ul class="product-list clearfix">
    <li v-for="product in products" :key="product.id">
      <div class="content">
        <nuxt-link :to="`/products/${product.id}`" class="image">
          <img :src="product.images[0].src" :alt="product.name">
        </nuxt-link>
        <h3 class="name"><nuxt-link :to="`/products/${product.id}`">{{product.name}}</nuxt-link></h3>
        <h5 class="description" v-html="product.short_description"></h5>
        <div class="price-sales clearfix">
          <span class="price">&yen;{{product.price}}<small>起</small></span>
          <span class="sales">已售出{{product.total_sales}}件</span>
        </div>
      </div>
      <nuxt-link v-if="product.variations && product.variations.length" :to="`/products/${product.id}`" class="button button-default button-md button-purchase">查看商品</nuxt-link>
      <button v-else @click="buyProduct(product.id)" class="button button-default button-md button-purchase">立即购买</button>
    </li>
  </ul>
</template>

<script>
import ProductHelper from '~/helpers/Product'

export default {
  props: {
    products: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    buyProduct (productId) {
      ProductHelper.buyProduct({
        productId: productId,
        quantity: 1,
        variationId: 0
      })
    }
  }
}
</script>

<style lang="scss">
@import 'assets/scss/inc';

$product_card_width: ($content_width - 30) / 4;

.product-list{
  list-style: none;
  margin: 0 -10px 0 0;
  padding: 0;
  li{
    display: block;
    float: left;
    width: $product_card_width;
    margin: 0 10px 10px 0;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    transition: box-shadow .3s;
    &:hover{
      box-shadow: 0 5px 15px rgba(#000, .1);
    }
    .content{
      width: $product_card_width - 20;
      margin: {
        right: auto;
        left: auto;
      };
    }
    .name{
      height: 20px;
      margin: 10px auto 0 auto;
      color: $color_caption_dark;
      font-size: 16px;
      font-weight: bold;
      line-height: 20px;
      a{
        color: $color_primary;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .description{
      height: 14px;
      margin: 7px auto 0 auto;
      color: $color_caption_light;
      font-size: 13px;
      font-weight: 400;
      line-height: 14px;
      > *{
        width: 100%;
        height: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .image{
      display: block;
      margin-top: 10px;
      overflow: hidden;
      background-color: $color_primary;
      &:hover{
        img{
          transform: scale(1.1);
        }
      }
      img{
        display: block;
        width: $product_card_width - 20;
        height: 260px;
        margin: 0 auto;
        object-fit: cover;
        transition: transform .4s, opacity .4s;
      }
    }
    .price-sales{
      margin-top: 5px;
    }
    .price{
      float: left;
      color: $color_warning;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      small{
        padding-left: 3px;
        font-size: 12px;
      }
    }
    .sales{
      float: right;
      color: $color_caption_light;
      font-size: 13px;
      font-weight: 400;
      line-height: 24px;
    }
    .button-purchase{
      display: block;
      width: $product_card_width - 20;
      margin: 10px auto;
      font-weight: bold;
      &:hover{
        background-color: $color_primary;
        border-top-color: #fff;
        color: #fff;
      }
    }
  }
}
</style>

