<template>
  <div class="product-info">
    <h2 class="product-name">{{product.name}}</h2>
    <h4 class="product-description" v-html="product.short_description"></h4>
    <div class="product-price">
      <b class="price">优惠价 &yen;{{selectedVariation.price || product.price}}<small v-if="variations.length && !selectedVariation.id"> 起</small></b>
      <span v-if="selectedVariation.regular_price || product.regular_price" class="regular-price">原价 &yen;{{selectedVariation.regular_price || product.regular_price}}</span>
    </div>
    <div class="product-sales">
      <span>此商品累计已售出<b>{{product.total_sales}}</b>件</span>
    </div>
    <div class="product-attributes">
      <div class="attribute-item" v-for="(attribute, index) in product.attributes" :key="index" v-if="attribute.visible">
        <h6 class="name">{{attribute.name}}:</h6>
        <ul :data-id="attribute.id" class="options">
          <li @click="selectAttribute(attribute.name, option)" :class="{active: selectedAttributes && selectedAttributes[attribute.name] === option}" v-for="(option, index) in attribute.options" :key="index">{{option}}</li>
        </ul>
      </div>
      <div class="attribute-item count">
        <h5 class="name">数量:</h5>
        <div class="options">
          <count-picker max="9999" min="1" v-model.number="selectedAttributes.count"/>
        </div>
      </div>
    </div>
    <div class="product-operations clearfix">
      <button @click="buyProduct" :disabled="!purchasable" class="button button-primary button-xl pull-left">立即购买</button>
      <button @click="addToCart" :disabled="!purchasable || cartAdding" class="button button-default button-xl pull-right">{{cartAdding ? '处理中' : '加入购物车'}}</button>
    </div>
  </div>
</template>
<script>
import CartHelper from '~/helpers/Cart'
import ProductHelper from '~/helpers/Product'
import CountPicker from '~/components/common/CountPicker'

export default {
  components: {
    CountPicker
  },
  props: {
    product: {
      type: Object,
      default: () => ({})
    }
  },
  data () {
    return {
      purchasable: false,
      cartAdding: false,
      variations: [],
      selectedAttributes: {
        count: 1
      },
      selectedVariation: {}
    }
  },
  mounted () {
    if (this.product.type === 'variable') {
      this.purchasable = false
      this.loadVariations() 
    } else {
      this.purchasable = true
    }
    this.initDefaultAttrs()
  },
  methods: {
    selectAttribute (name, value) {
      this.$set(this.selectedAttributes, name, value)
      this.variations.length && this.getMatchedVariation()
    },
    initDefaultAttrs () {
      this.product.default_attributes.forEach(item => {
        this.$set(this.selectedAttributes, item.name, item.option)
      })
    },
    getMatchedVariation () {
      const matchedVariation = this.variations.find(variation => variation.attributes.every(({ name, option }) => this.selectedAttributes[name] === option))
      if (matchedVariation) {
        const { price, regular_price, sale_price, id, image, purchasable, date_on_sale_from, date_on_sale_to, stock_quantity } = matchedVariation
        this.selectedVariation = { price, regular_price, sale_price, id, image, purchasable, date_on_sale_from, date_on_sale_to, stock_quantity }
        this.purchasable = true
      } else {
        this.selectedVariation = {}
        this.purchasable = false
      }
    },
    async loadVariations () {
      try {
        this.variations = await ProductHelper.getProductVariations(this.product.id)
      } catch (error) {
        console.warn(error)
      }
    },
    buyProduct () {
      ProductHelper.buyProduct({
        productId: this.product.id,
        quantity: this.selectedAttributes.count || 1,
        variationId: this.selectedVariation.id || 0
      })
    },
    async addToCart () {
      this.cartAdding = true
      try {
        await CartHelper.addCartItem({
          product_name: this.product.name,
          product_id: this.product.id,
          quantity: this.selectedAttributes.count,
          variation_id: this.selectedVariation.id
        })
        this.cartAdding = false
      } catch (error) {
        this.cartAdding = false
      }
    }
  }
}
</script>
<style lang="scss">
@import 'assets/scss/inc';

.product-info{
  width: $content_width - 550;
  .product-name{
    margin: 60px 0 0 0;
    padding: 0 50px;
    color: $color_caption_dark;
    font-size: 24px;
    font-weight: bold;
  }
  .product-description{
    margin: 10px 0 0 0;
    padding: 0 50px;
    color: $color_caption;
    font-size: 14px;
    font-weight: 400;
  }
  .product-price{
    margin-top: 30px;
    padding: 0 50px;
    border-radius: 3px;
    .price{
      color: $color_primary;
      font-size: 22px;
      font-weight: bold;
    }
    .regular-price{
      padding-left: 10px;
      color: $color_caption_light;
      font-size: 22px;
      font-weight: bold;
      text-decoration: line-through;
    }
  }
  .product-sales{
    margin-top: 5px;
    padding: 0 50px 20px 50px;
    color: $color_caption;
    font-size: 12px;
    border-bottom: 1px solid $color_ultra_light;
  }
  .product-attributes{
    margin-top: 20px;
    padding: 0 50px 20px 50px;
    border-bottom: 1px solid $color_ultra_light;
    .attribute-item{
      height: 40px;
      margin: 5px 0;
      .name{
        float: left;
        width: 40px;
        margin: 0 10px 0 0;
        color: $color_caption_light;
        font-size: 14px;
        font-weight: bold;
        line-height: 40px;
        text-align: left;
      }
      .options{
        float: left;
        height: 40px;
        margin: 0;
        padding: 0;
        list-style: none;
        li{
          display: block;
          float: left;
          height: 32px;
          margin: 5px 5px 0 0;
          padding: 0 15px;
          border: 1px solid $color_light;
          border-radius: 3px;
          color: $color_caption;
          font-size: 12px;
          line-height: 31px;
          cursor: pointer;
          &:hover{
            border-color: $color_primary;
          }
          &.active{
            background-color: $color_primary;
            border-color: $color_primary;
            color: #fff;
          }
        }
      }
    }
    .count-picker{
      margin-top: 4px;
    }
  }
  .product-operations{
    margin-top: 20px;
    padding: 0 50px;
    .button{
      width: 215px;
      font-weight: bold;
    }
  }
}
</style>


