<template>
  <div class="tiny-cart">
    <h4 class="caption clearfix">
      <span class="pull-left"><i class="icon icon-shopping_cart"></i> 购物车</span>
      <span v-if="totalPrice" class="total-price pull-right">共 <b>{{totalPrice}}</b> 元</span>
    </h4>
    <div v-if="$store.state.cartItems.length">
      <div class="cart-items-wrap">
        <ul class="cart-items">
          <li v-for="item in $store.state.cartItems" :key="item.key">
            <div class="image">
              <img :src="item.product_image" :alt="item.product_name" />
            </div>
            <span class="product-name">{{item.product_name}}</span>
            <span class="price"><b>{{item.quantity}}</b>件共<b>&yen;{{item.line_total}}</b></span>
            <a @click="removeCartItem(item.key)" href="javascript:void(0);" class="btn-remove"><i class="icon-close"></i></a>
          </li>
        </ul>
        <div class="cart-shadow"></div>
      </div>
      <footer class="cart-footer">
        <button @click="checkout" class="button button-primary button-lg button-checkout">去结算</button>
      </footer>
    </div>
    <div v-else class="empty-cart">
      <i class="icon icon-shopping_cart"></i>
      <span>购物车空空如也</span>
    </div>
  </div>
</template>
<script>
import CartHelper from '~/helpers/Cart'

export default {
  computed: {
    totalPrice () {
      return this.$store.state.cartItems.reduce((price, item) => {
        return item.line_total + price
      }, 0)
    }
  },
  methods: {
    removeCartItem (key) {
      CartHelper.removeCartItem(key)
    },
    checkout () {
      this.$router.push(`/checkout?type=cart`)
    }
  }
}
</script>
<style lang="scss">
@import 'assets/scss/inc';

.tiny-cart{
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
  width: 280px;
  margin-left: -60px;
  background-color: #fff;
  border-radius:  0 0 3px 3px;
  box-shadow: 0 3px 15px rgba(#000, .1);
  transform: translateX(-50%);
  &::before{
    position: absolute;
    z-index: 2;
    top: -10px;
    left: 50%;
    margin-left: 50px;
    border: solid 5px transparent;
    border-bottom-color: #fff;
    content: '';
    transform: translateX(-50%);
  }
  .caption{
    margin: 0;
    padding: 5px 20px;
    border-bottom: 1px solid $color_ultra_light;
    color: $color_caption_dark;
    font-size: 15px;
    font-weight: bold;
    line-height: 40px;
  }
  .total-price{
    color: $color_caption_light;
    font-size: 12px;
    font-weight: normal;
    b{
      color: $color_danger;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .cart-items-wrap{
    position: relative;
    height: auto;
    max-height: 300px;
    overflow: hidden;
  }
  .cart-shadow{
    position: absolute;
    z-index: 2;
    top: 250px;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(rgba(#fff, 0), rgba(#fff, 1));
    pointer-events: none;
  }
  .cart-items{
    position: relative;
    list-style: none;
    height: auto;
    max-height: 300px;
    margin: 0;
    padding: 0 20px;
    overflow: auto;
    li{
      position: relative;
      display: block;
      margin: 0;
      padding: 10px 0 10px 50px;
      overflow: hidden;
      border-bottom: 1px solid $color_ultra_light;
      &:last-child{
        border-bottom: none;
      }
    };
    .image{
      position: absolute;
      top: 13px;
      left: 0;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      overflow: hidden;
      background-color: $color_light;
      border-radius: 3px;
      img{
        display: block;
        width: 40px;
        height: 40px;
        object-fit: cover;
      }
    }
    .product-name{
      display: block;
      height: 24px;
      overflow: hidden;
      color: $color_caption;
      font-size: 14px;
      font-weight: bold;
      line-height: 24px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .price{
      display: block;
      float: left;
      color: $color_caption_light;
      font-size: 12px;
      line-height: 20px;
    }
    .btn-remove{
      display: block;
      float: right;
      width: 18px;
      height: 18px;
      margin-top: -14px;
      background-color: $color_ultra_light;
      border-radius: 50%;
      color: $color_caption_light;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      &:hover{
        background-color: $color_danger;
        color: #fff;
      }
    }
  }
  .cart-footer{
    margin: 10px 20px 20px 20px;
  }
  .button-checkout{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .empty-cart{
    padding: 30px 0 50px 0;
    text-align: center;
    i{
      display: block;
      margin-bottom: 10px;
      font-size: 48px;
      color: $color_light;
    }
    span{
      color: $color_caption;
      font-size: 13px;
      font-weight: bold;
    }
  }
}

</style>