<template>
  <div class="netink-page page-checkout-order">
    <div v-if="order && order.id" class="page-content container clearfix">
      <h3 class="caption"><i class="icon-info_outline"></i> 订单详情</h3>
      <div v-if="order && order.id" class="checkout-info pull-left">
        <div class="content-section section-address">
          <div class="info-group address-info">
            <label>收货地址</label>
            <span>{{order.billing.address_1}}</span>
          </div>
          <div class="clearfix">
            <div class="info-group name-info">
              <label>收货人</label>
              <span>{{order.billing.first_name}}</span>
            </div>
            <div class="info-group phone-info">
              <label>联系电话</label>
              <span>{{order.billing.phone}}</span>
            </div>
          </div>
        </div>
        <div class="content-section section-remark">
          <h4 class="section-caption">备注信息</h4>
          <div class="remark-info">
            <b v-if="order.customer_note">{{order.customer_note}}</b>
            <span v-else>没有备注信息</span>
          </div>
        </div>
        <div class="content-section section-products">
          <h4 class="section-caption">商品信息</h4>
          <ul class="products">
            <li v-for="item in order.line_items" :key="item.key">
              <div class="image">
                <img v-if="products[item.product_id] && products[item.product_id].images[0]" :src="products[item.product_id].images[0].src" />
              </div>
              <span class="product-name">{{item.name}}</span>
              <span class="price">{{item.quantity}}件共<b>&yen;{{item.total}}</b></span>
            </li>
          </ul>
        </div>
      </div>
      <div v-else class="checkout-info pull-left">
        <div class="section-loading"><span>订单信息加载中...</span></div> 
      </div>
      <div class="checkout-state pull-right">
        <div class="content-section section-price">
          <h4 class="section-caption">结算信息</h4>
          <div class="price-item">
            <span class="name">商品总价</span>
            <span class="price">&yen;{{order.total}}</span>
          </div>
          <div class="price-item">
            <span class="name">配送费用</span>
            <span class="price"><em>免配送费</em></span>
          </div>
          <div class="price-item">
            <span class="name"><b>共计</b></span>
            <span class="price"><b>&yen;{{order.total}}</b></span>
          </div>
        </div>
        <div v-if="order.status === 'pending' && order.payment_method !== 'cod'" class="content-section section-payments">
          <h4 class="section-caption">支付方式</h4>
          <ul class="payments" :data-payment="payment">
            <li @click="choosePayment('alipay')" :class="{active: payment === 'alipay'}" class="payment-item alipay-payment">
              <i class="icon-alipay"></i>
              <span>支付宝</span>
            </li>
            <li @click="choosePayment('wechat')" :class="{active: payment === 'wechat'}" class="payment-item wechat-payment">
              <i class="icon-wechat"></i>
              <span>微信支付</span>
            </li>
          </ul>
        </div>
        <div v-else-if="order.status === 'cancelled'" class="content-section section-payments">
          <span class="payment-name cancelled">该订单已取消</span>
        </div>
        <div v-else class="content-section section-payments">
          <span class="payment-name">该订单已支付，支付方式: <b>{{order.payment_method_title}}</b></span>
        </div>
        <div v-if="order.status === 'pending' && order.payment_method !== 'cod'" class="content-section">
          <button @click="purchaseOrder" :disabled="processing || !payment" class="button button-primary button-xl button-purchase">{{processing ? '处理中...' : '立即支付'}}</button>
          <button @click="cancelOrder" :disabled="processing" class="button button-default button-xl button-cancel">取消订单</button>
        </div>
      </div>
    </div>
    <div v-else class="page-content container">
      <loading text="数据加载中，请稍候" top="200px"/>
    </div>
  </div>
</template>

<script>
import ProductHelper from '~/helpers/Product'
import OrderHelper from '~/helpers/Order'

export default {
  head () {
    return {
      title: '订单详情 - 网印网 专业网络印刷服务商'
    }
  },
  data () {
    return {
      order: {},
      products: {},
      payment: '',
      processing: false
    }
  },
  methods: {
    choosePayment (payment) {
      this.payment = payment
    },
    async purchaseOrder () {

    },
    async cancelOrder () {

    },
    async loadOrder () {
      if (this.$route.params && this.$route.params.orderId) {
        try {
          this.order = await OrderHelper.getOrder(this.$route.params.orderId)
        } catch (error) {
          // ...
        }
      }
    },
    async loadOrederProducts () {
      if (this.order && this.order.line_items) {
        try {
          const response = await ProductHelper.getProducts({ include: this.order.line_items.map(item => item.product_id) })
          response.items.forEach(product => {
            this.$set(this.products, product.id, product)
          })
        } catch (error) {
          // ...
        }
      }
    },
  },
  async mounted () {
    await this.loadOrder()
    await this.loadOrederProducts()
  }
}
</script>

<style lang="scss" scoped>
@import 'assets/scss/inc';

.page-checkout-order{
  .page-content{
    min-height: 500px;
    margin-bottom: 50px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 3px;
    .caption{
      margin: 0;
      padding: 20px 30px;
      border-bottom: 1px solid $color_light;
      color: $color_caption_dark;
      font-size: 18px;
      font-weight: bold;
    }
  }
  .checkout-info{
    width: $content_width - 420;
    padding-bottom: 30px;
    border-right: 1px solid $color_light;
  }
  .checkout-state{
    width: 420px;
  }
  .content-section {
    margin: 0 50px;
    padding: 30px 0;
    border-bottom: 1px solid $color_light;
    &:last-child{
      border-bottom: none;
    }
  }
  .section-caption{
    line-height: 20px;
    span{
      color: $color_caption;
      font-size: 16px;
      font-weight: bold;
    }
    a{
      display: block;
      margin-left: 10px;
      color: $color_caption_light;
      font-size: 12px;
      &:hover{
        color: $color_primary;
      }
    }
  }
  .section-loading{
    padding-left: 50px;
    color: $color_caption;
    font-size: 14px;
    font-weight: bold;
    line-height: 100px;
  }
  .info-group{
    label{
      display: block;
      margin-bottom: 5px;
      color: $color_caption;
      font-size: 14px;
      font-weight: bold;
      line-height: 24px;
    }
    span{
      color: $color_caption_dark;
      font-size: 16px;
      font-weight: bold;
    }
  }
  .name-info{
    margin-top: 15px;
  }
  .phone-info{
    margin-top: 15px;
  }

  .products{
    list-style: none;
    height: auto;
    margin: 10px 0 0 0;
    padding: 0;
    li{
      position: relative;
      display: block;
      height: 90px;
      margin: 0;
      padding: 10px 0 10px 70px;
      overflow: hidden;
      border-bottom: 1px dashed $color_light;
      &:last-child{
        border-bottom: none;
      }
    };
    .image{
      position: absolute;
      top: 15px;
      left: 0;
      width: 60px;
      height: 60px;
      margin-right: 10px;
      overflow: hidden;
      background-color: $color_primary;
      border-radius: 3px;
      img{
        display: block;
        width: 60px;
        height: 60px;
        object-fit: cover;
      }
    }
    .product-name{
      display: block;
      height: 24px;
      margin-top: 10px;
      overflow: hidden;
      color: $color_caption_dark;
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .price{
      display: block;
      float: left;
      color: $color_caption;
      font-size: 14px;
      line-height: 20px;
    }
  }
  .remark-info{
    margin-top: 10px;
    padding: 15px;
    background: $color_ultra_light;
    border-radius: 3px;
    line-height: 20px;
    b{
      color: $color_caption_dark;
      font-size: 14px;
    }
    span{
      color: $color_caption_light;
      font-size: 14px;
    }
  }
  .section-price{
    .price-item{
      margin-top: 20px;
      overflow: hidden;
      line-height: 20px;
      .name{
        float: left;
        color: $color_caption;
        font-size: 14px;
        b{
          font-size: 16px;
          font-weight: bold;
          color: $color_caption_dark;
        }
      }
      .price{
        float: right;
        color: $color_caption_dark;
        font-size: 16px;
        em{
          font-style: normal;
        }
        b{
          font-size: 24px;
          font-weight: bold;
          color: $color_primary;
        }
      }
    }
  }
  .payments{
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
    li{
      position: relative;
      list-style: none;
      height: 60px;
      margin: 0 0 10px 0;
      padding: 0 0 0 20px;
      border: 2px solid $color_ultra_light;
      border-radius: 3px;
      color: $color_caption_dark;
      cursor: pointer;
      user-select: none;
      &:hover{
        border-color: $color_light;
      }
      &.active{
        border-color: $color_primary;
      }
      &::after{
        position: absolute;
        top: 21px;
        right: 20px;
        width: 14px;
        height: 14px;
        background-color: #fff;
        border: 1px solid $color_light;
        border-radius: 50%;
        box-shadow: inset 0 0 0 2px #fff;
        content: '';
      }
      &.active::after{
        background-color: $color_primary;
      }
      i, span{
        display: inline-block;
        height: 56px;
        margin-right: 10px;
        font-weight: 500;
        line-height: 56px;
        vertical-align: middle;
      }
      i{
        font-weight: normal;
      }
    }
    .alipay-payment{
      i{
        color: #00a3ee;
        font-size: 22px;
        line-height: 52px;
      }
    }
    .wechat-payment{
      i{
        color: #44b549;
        font-size: 20px;
        line-height: 54px;
      }
    }
  }
  .payment-name{
    display: block;
    background-color: $color_ultra_light;
    border-radius: 3px;
    color: $color_caption;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    &.cancelled{
      color: $color_warning;
    }
    b{
      color: $color_caption_dark;
    }
  }
  .button-purchase,
  .button-cancel{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
  }
}
</style>