<template>
  <div class="netink-page page-checkout">
    <div class="page-content container clearfix">
      <h3 class="caption"><i class="icon-payment"></i> 商品结算</h3>
      <div class="checkout-info pull-left">
        <div class="content-section section-address">
          <div :data-invaild="!!invalidFields['address']" class="input-group address-input">
            <label for="shipping-address">收货地址</label>
            <input autocomplete="address-line1" id="shipping-address" type="text" v-model="shipping.address" placeholder="请填写详细的收货地址"/>
          </div>
          <div class="clearfix">
            <div :data-invaild="!!invalidFields['name']" class="input-group name-input pull-left">
              <label for="shipping-name">收货人</label>
              <input autocomplete="name" id="shipping-name" type="text" v-model="shipping.name" placeholder="请填写收货人姓名"/>
            </div>
            <div :data-invaild="!!invalidFields['phone']" class="input-group phone-input pull-left">
              <label for="shipping-phone">联系电话</label>
              <input autocomplete="tel-national" id="shipping-phone" type="tel" v-model="shipping.phone" placeholder="请填写收货人电话号码"/>
            </div>
            <div :data-invaild="!!invalidFields['postcode']" class="input-group postcode-input pull-left">
              <label for="shipping-postcode">邮政编码</label>
              <input autocomplete="postal-code" id="shipping-postcode" type="text" v-model="shipping.postcode" placeholder="选填"/>
            </div>
          </div>
        </div>
        <div class="content-section section-remark">
          <h4 class="section-caption">备注信息</h4>
          <div class="input-group remark-input">
            <textarea id="shipping-remark" maxlength="120" v-model="remark" placeholder="填写简要的备注信息"></textarea>
          </div>
        </div>
        <div class="content-section section-products">
          <h4 class="section-caption">商品信息</h4>
          <ul v-if="products && products.length" class="products">
            <li class="clearfix" v-for="item in products" :key="item.key">
              <div v-if="item.product_image || (item.images && item.images[0]) || (item.image && item.image.src)" class="image pull-left">
                <img :src="item.product_image || (item.images && item.images[0].src) || (item.image && item.image.src)" />
              </div>
              <div class="metas pull-left">
                <span class="product-name">{{item.product_name || item.name}}</span>
                <span class="price">{{item.quantity}}件共<b>&yen;{{item.quantity * item.price}}</b></span>
              </div>
              <div class="count pull-right">
                <count-picker max="9999" min="1" v-model.number="item.quantity" />
              </div>
            </li>
          </ul>
          <div v-else class="section-loading">商品信息加载中...</div>
        </div>
      </div>
      <div class="checkout-state pull-right">
        <div class="content-section section-price">
          <h4 class="section-caption">结算信息</h4>
          <div class="price-item">
            <span class="name">商品总价</span>
            <span class="price">&yen;{{totalPrice}}</span>
          </div>
          <div class="price-item">
            <span class="name">配送费用</span>
            <span class="price"><em>免配送费</em></span>
          </div>
          <div class="price-item">
            <span class="name"><b>共计</b></span>
            <span class="price"><b>&yen;{{totalPrice}}</b></span>
          </div>
        </div>
        <div class="content-section section-payments">
          <h4 class="section-caption">支付方式</h4>
          <ul class="payments" :data-payment="payment">
            <li @click="choosePayment('alipay')" :class="{active: payment === 'alipay'}" class="payment-item alipay-payment">
              <i class="icon-alipay"></i>
              <span>支付宝</span>
            </li>
            <li @click="choosePayment('wechat')" :class="{active: payment === 'wechat'}" class="payment-item wechat-payment">
              <i class="icon-wechat"></i>
              <span>微信支付</span>
            </li>
          </ul>
        </div>
        <div class="content-section">
          <button @click="checkout" :disabled="processing  || !formReady || !payment" class="button button-primary button-xl button-checkout">{{processing ? '结算中...' : '结算'}}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProductHelper from '~/helpers/Product'
import CartHelper from '~/helpers/Cart'
import OrderHelper from '~/helpers/Order'
import Validator from '~/helpers/Validator'
import { checkoutRules } from '~/configs/validate'
import { toastLoading, hideToastLoading } from '~/utils/ui'

const paymentMethodTitles = {
  'alipay': '支付宝',
  'wechat': '微信支付'
}

export default {
  head () {
    return {
      title: '商品结算 - 网印网 专业网络印刷服务商'
    }
  },
  computed: {
    customerInfo () {
      return this.$store.state.userInfo.customerInfo
    },
    totalPrice () {
      return this.products ? this.products.reduce((price, item) => {
        return item.price * item.quantity + price
      }, 0) : 0
    }
  },
  watch: {
    customerInfo (customerInfo) {
      this.fillShippingAddress(customerInfo)
    },
    shipping:{
      handler (shipping) {
        const { invalids, passed } = Validator.validateGroup(shipping, checkoutRules)
        this.formReady = passed
        this.invalidFields = invalids
      },
      deep: true
    }
  },
  data () {
    return {
      products: null,
      shipping: {
        address: '',
        name: '',
        phone: '',
        postcode: '',
        email: '',
      },
      remark: '',
      payment: '',
      processing: false,
      formReady: false,
      invalidFields: {}
    }
  },
  methods: {
    fillShippingAddress (customerInfo) {
      if (customerInfo && customerInfo.billing) {
        this.shipping = {
          address: customerInfo.billing.address_1,
          name: customerInfo.billing.first_name,
          phone: customerInfo.billing.phone,
          postcode: customerInfo.billing.postcode,
          email: customerInfo.billing.email
        }
      } else {
        this.shipping = {
          address: '',
          name: '',
          phone: '',
          postcode: '',
          email: ''
        }
      }
    },
    choosePayment (payment) {
      this.payment = payment
    },
    async checkout () {

      if (!this.formReady || !this.payment || this.processing) {
        return false
      }

      let checkoutParam = {
        payment_method: this.payment,
        billing: {
          first_name: this.shipping.name,
          last_name: this.shipping.name,
          address_1: this.shipping.address,
          address_2: this.shipping.address,
          postcode: this.shipping.postcode,
          email: this.shipping.email,
          phone: this.shipping.phone
        },
        line_items: this.products.map(({ product_id, quantity, variation_id }) => ({ product_id, quantity, variation_id })),
        shipping_lines: [],
        customer_note: this.remark
      }

      this.processing = true
      toastLoading('结算中，请稍候')

      try {
        const orderInfo = await OrderHelper.createOrder(checkoutParam)
        this.$router.push(`/checkout/${orderInfo.id}`)
        this.processing = false
        hideToastLoading()
      } catch (error) {
        this.processing = false
        hideToastLoading()
      }

    }
  },
  async beforeRouteUpdate (nextRoute) {
    this.products = await OrderHelper.prepareCheckoutProducts(nextRoute.query)
  },
  async mounted () {
    toastLoading()
    this.fillShippingAddress(this.customerInfo)
    this.products = await OrderHelper.prepareCheckoutProducts(this.$route.query)
    hideToastLoading()
  }
}
</script>

<style lang="scss" scoped>
@import 'assets/scss/inc';

.page-checkout{
  .page-content{
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 3px;
    .caption{
      margin: 0;
      padding: 20px 30px;
      border-bottom: 1px solid $color_light;
      color: $color_caption_dark;
      font-size: 18px;
      font-weight: bold;
    }
  }
  .checkout-info{
    width: $content_width - 420;
    padding-bottom: 30px;
    border-right: 1px solid $color_light;
  }
  .checkout-state{
    width: 420px;
  }
  .content-section {
    margin: 0 50px;
    padding: 30px 0;
    border-bottom: 1px solid $color_light;
    &:last-child{
      border-bottom: none;
    }
  }
  .section-caption{
    line-height: 20px;
    span{
      color: $color_caption;
      font-size: 16px;
      font-weight: bold;
    }
    a{
      display: block;
      margin-left: 10px;
      color: $color_caption_light;
      font-size: 12px;
      &:hover{
        color: $color_primary;
      }
    }
  }
  .section-loading{
    color: $color_caption;
    font-size: 14px;
    line-height: 40px;
  }
  .name-input{
    width: 174px;
    margin-top: 20px;
  }
  .phone-input{
    width: 174px;
    margin-top: 20px;
    margin-left: 30px;
  }
  .postcode-input{
    width: 171px;
    margin-top: 20px;
    margin-left: 30px;
  }
  .remark-input textarea{
    height: 5em;
  }

  .products{
    list-style: none;
    height: auto;
    margin: 10px 0 0 0;
    padding: 0;
    li{
      position: relative;
      display: block;
      margin: 0;
      padding: 20px 0;
      overflow: hidden;
      border-bottom: 1px dashed $color_light;
      &:last-child{
        border-bottom: none;
      }
    };
    .image{
      width: 60px;
      height: 60px;
      overflow: hidden;
      background-color: $color_primary;
      border-radius: 3px;
      img{
        display: block;
        width: 60px;
        height: 60px;
        object-fit: cover;
      }
    }
    .metas{
      margin: 8px 0 0 20px;
    }
    .product-name{
      display: block;
      height: 24px;
      overflow: hidden;
      color: $color_caption_dark;
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .price{
      display: block;
      float: left;
      color: $color_caption_light;
      font-size: 14px;
      line-height: 20px;
    }
    .count{
      float: right;
      margin-top: 15px;
    }
  }
  .section-price{
    .price-item{
      margin-top: 20px;
      overflow: hidden;
      line-height: 20px;
      .name{
        float: left;
        color: $color_caption;
        font-size: 14px;
        b{
          font-size: 16px;
          font-weight: bold;
          color: $color_caption_dark;
        }
      }
      .price{
        float: right;
        color: $color_caption_dark;
        font-size: 16px;
        em{
          font-style: normal;
        }
        b{
          font-size: 24px;
          font-weight: bold;
          color: $color_primary;
        }
      }
    }
  }
  .payments{
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
    li{
      position: relative;
      list-style: none;
      height: 60px;
      margin: 0 0 10px 0;
      padding: 0 0 0 20px;
      border: 2px solid $color_ultra_light;
      border-radius: 3px;
      color: $color_caption_dark;
      cursor: pointer;
      user-select: none;
      &:hover{
        border-color: $color_light;
      }
      &.active{
        border-color: $color_primary;
      }
      &::after{
        position: absolute;
        top: 21px;
        right: 20px;
        width: 14px;
        height: 14px;
        background-color: #fff;
        border: 1px solid $color_light;
        border-radius: 50%;
        box-shadow: inset 0 0 0 2px #fff;
        content: '';
      }
      &.active::after{
        background-color: $color_primary;
      }
      i, span{
        display: inline-block;
        height: 56px;
        margin-right: 10px;
        font-weight: 500;
        line-height: 56px;
        vertical-align: middle;
      }
      i{
        font-weight: normal;
      }
    }
    .alipay-payment{
      i{
        color: #00a3ee;
        font-size: 22px;
        line-height: 52px;
      }
    }
    .wechat-payment{
      i{
        color: #44b549;
        font-size: 20px;
        line-height: 54px;
      }
    }
  }
  
  .button-checkout{
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
  }
}
</style>
