@import "_inc";
@import "_icons";
@import "_transitions";

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background-color: rgba(#fff, .1);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(#fff, .3);
  &:hover{
    background-color: rgba(#fff, .5);
  }
}
::selection{
  background-color: rgba($color_primary, .2);
}

.page-enter-active, .page-leave-active {
  transition: opacity .2s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}

*{
  box-sizing: border-box;
}

ul,ol,li{
  list-style: none;
}

input,button,textarea{
  outline: none;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
a, button{
  text-decoration: none;
}

html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f1f1f1;
  font-family: "Source Han Sans", -apple-system, "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-app-region: drag;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.button{
  display: inline-block;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  &[disabled]{
    filter: grayscale(.5);
    opacity: .3;
    pointer-events: none;
  }
  &-sm{
    height: 32px;
    padding: 0 10px;
    font-size: 12px;
    line-height: 32px;
  }
  &-md{
    height: 36px;
    padding: 0 12px;
    font-size: 13px;
    line-height: 36px;
  }
  &-lg{
    height: 40px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 40px;
  }
  &-xl{
    height: 48px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 48px;
  }
  &-default{
    border: none;
    background-color: $color_ultra_light;
    color: $color_caption;
    &:hover{
      background-color: $color_light;
    }
  }
  &-danger{
    border: none;
    background-color: $color_ultra_light;
    color: $color_warning;
    &:hover{
      background-color: $color_warning;
      color: #fff;
    }
  }
  &-ghost{
    color: $color_dark;
    border: solid 1px $color_caption_light;
    &:hover{
      background-color: $color_ultra_light;
    }
    &-in-dark{
      color: #fff;
      border-color: #ffffff;
    }
  }
  &-primary{
    border: none;
    background-color: $color_primary;
    color: #fff;
    &:hover{
      background-color: $color_primary - 20;
    }
  }
}

.input-group{
  margin-bottom: 20px;
  &[data-invaild]{
    input,textarea{
      border-color: $color_danger;
    }
  }
  label{
    display: block;
    color: $color_caption_dark;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    small{
      float: right;
      padding-left: 10px;
      color: $color_caption_light;
      font-size: 12px;
      font-weight: normal;
      line-height: 24px;
    }
  }
  input, textarea{
    width: 100%;
    height: 44px;
    margin-top: 10px;
    padding: 0 10px;
    border: 1px solid $color_light;
    border-radius: 3px;
    color: $color_caption_dark;
    font-size: 14px;
    &:focus{
      border-color: $color_primary;
    }
  }
  textarea{
    height: 88px;
    margin-top: 20px;
    padding: 10px;
    resize: none;
  }
}

.text-warning{
  color: $color_warning;
}
.text-danger{
  color: $color_danger;
}

.clearfix{
  &::after{
    display: block;
    clear: both;
    overflow: hidden;
    width: 100%;
    height: 0;
    content: '';
  }
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}

.netink-page-container{
  position: relative;
  min-height: 100%;
  padding-top: $navbar_height + 40;
  padding-bottom: 100px;
}

#__nuxt,
#__layout{
  height: 100%;
}

body {
  .v--modal{
    position: absolute !important;
    top: 45% !important;
    left: 50% !important;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 5px 30px rgba(#000, .1);
  }
  .v--modal-overlay{
    background-color: rgba(#000, .4);
  }
  .toast-loading .text{
    color: $color_caption;
  }
  .notifications{
    margin-top: $navbar_height + 10;
  }
  .notification-wrapper{
    overflow: visible;
  }
  .netink-notify {
    position: relative;
    min-height: 70px;
    margin: 10px 10px 0 0;
    padding: 15px 20px 15px 60px;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px 10px rgba(#000, .1);
    .icon{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 60px;
      height: 70px;
      color: $color_primary;
      font-size: 24px;
      line-height: 70px;
      text-align: center;
    }
    .title{
      color: $color_caption_dark;
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
    }
    .text{
      color: $color_caption_light;
      font-size: 12px;
    }
    .button-close{
      position: absolute;
      top: 15px;
      right: 0;
      width: 50px;
      height: 40px;
      color: $color_light;
      font-size: 16px;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
      &:hover{
        color: $color_danger;
      }
    }

    &.warn {
      .icon{
        color: $color_warning;
      }
    }
    &.error {
      .icon{
        color: $color_danger;
      }
    }
    &.success {
      .icon{
        color: $color_success;
      }
    }
  }
}

.page-content{
  height: 100%;
}

.container{
  width: $content_width;
  margin: {
    right: auto;
    left: auto;
  }
}