$color_primary: #5286ed;
$color_dark: #333;
$color_ultra_dark: #222;
$color_caption: #777;
$color_caption_dark: #444;
$color_caption_light: #aaa;
$color_caption_ultra_light: #ccc;
$color_background: $color_dark;
$color_light: #e3e3e3;
$color_warning: #fa983a;
$color_danger: #e55039;
$color_success: #089c47;
$color_ultra_light: #f3f3f3;

$content_width: 1100px;
$navbar_height: 60px;

$breakpoints: (
  'sm': 'only screen and (min-width: 780px)',
) !default;