$eotFilePath: '~/assets/icons/icomoon.eot?3kn1j0';
$ie10EotFilePath: '~/assets/icons/icomoon.eot?3kn1j0#iefix';
$ttfFilePath: '~/assets/icons/icomoon.ttf?3kn1j0';
$woffFilePath: '~/assets/icons/icomoon.woff?3kn1j0';
$svgFilePath: '~/assets/icons/icomoon.svg?3kn1j0#icomoon';

@font-face {
  font-family: 'icomoon';
  src:  url($eotFilePath);
  src:  url($ie10EotFilePath) format('embedded-opentype'),
    url($ttfFilePath) format('truetype'),
    url($woffFilePath) format('woff'),
    url($svgFilePath) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wechat:before {
  content: "\e900";
}
.icon-alipay:before {
  content: "\e901";
}
.icon-schedule:before {
  content: "\e8b5";
}
.icon-control_point:before {
  content: "\e3ba";
}
.icon-announcement:before {
  content: "\e85a";
}
.icon-apps:before {
  content: "\e5c3";
}
.icon-poll:before {
  content: "\e801";
}
.icon-card_travel:before {
  content: "\e8f8";
}
.icon-colorize:before {
  content: "\e3b8";
}
.icon-payment:before {
  content: "\e8a1";
}
.icon-data_usage:before {
  content: "\e1af";
}
.icon-time_to_leave:before {
  content: "\e62c";
}
.icon-equalizer:before {
  content: "\e01d";
}
.icon-error_outline:before {
  content: "\e001";
}
.icon-exit_to_app:before {
  content: "\e879";
}
.icon-face:before {
  content: "\e87c";
}
.icon-folder:before {
  content: "\e2c7";
}
.icon-format_paint:before {
  content: "\e243";
}
.icon-help_outline2:before {
  content: "\e8fe";
}
.icon-inbox:before {
  content: "\e156";
}
.icon-local_shipping2:before {
  content: "\e559";
}
.icon-lock_open:before {
  content: "\e898";
}
.icon-lock_outline:before {
  content: "\e899";
}
.icon-mail_outline:before {
  content: "\e0e1";
}
.icon-move_to_inbox:before {
  content: "\e168";
}
.icon-reply:before {
  content: "\e15e";
}
.icon-settings:before {
  content: "\e8b9";
}
.icon-delete_forever:before {
  content: "\e92b";
}
.icon-delete_sweep:before {
  content: "\e16c";
}
.icon-remove_circle:before {
  content: "\e15c";
}
.icon-remove_circle_outline:before {
  content: "\e15d";
}
.icon-remove_shopping_cart2:before {
  content: "\e929";
}
.icon-account_circle:before {
  content: "\e853";
}
.icon-arrow_back:before {
  content: "\e5c4";
}
.icon-arrow_downward:before {
  content: "\e5db";
}
.icon-arrow_drop_down:before {
  content: "\e5c5";
}
.icon-arrow_drop_up:before {
  content: "\e5c7";
}
.icon-arrow_forward:before {
  content: "\e5c8";
}
.icon-arrow_upward:before {
  content: "\e5d8";
}
.icon-attachment:before {
  content: "\e2bc";
}
.icon-block:before {
  content: "\e14b";
}
.icon-phone:before {
  content: "\e0cd";
}
.icon-navigate_before:before {
  content: "\e408";
}
.icon-navigate_next:before {
  content: "\e409";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-content_copy:before {
  content: "\e14d";
}
.icon-mode_edit:before {
  content: "\e254";
}
.icon-done:before {
  content: "\e876";
}
.icon-expand_less:before {
  content: "\e5ce";
}
.icon-expand_more:before {
  content: "\e5cf";
}
.icon-favorite:before {
  content: "\e87d";
}
.icon-favorite_border:before {
  content: "\e87e";
}
.icon-folder_open:before {
  content: "\e2c8";
}
.icon-fullscreen:before {
  content: "\e5d0";
}
.icon-fullscreen_exit:before {
  content: "\e5d1";
}
.icon-star:before {
  content: "\e838";
}
.icon-help:before {
  content: "\e887";
}
.icon-help_outline:before {
  content: "\e8fd";
}
.icon-info:before {
  content: "\e88e";
}
.icon-info_outline:before {
  content: "\e88f";
}
.icon-tag_faces:before {
  content: "\e420";
}
.icon-keyboard_hide:before {
  content: "\e31a";
}
.icon-language:before {
  content: "\e894";
}
.icon-open_in_new:before {
  content: "\e89e";
}
.icon-lightbulb_outline:before {
  content: "\e90f";
}
.icon-print:before {
  content: "\e8ad";
}
.icon-local_shipping:before {
  content: "\e558";
}
.icon-room:before {
  content: "\e8b4";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-mood_bad:before {
  content: "\e7f3";
}
.icon-more_horiz:before {
  content: "\e5d3";
}
.icon-more_vert:before {
  content: "\e5d4";
}
.icon-navigation:before {
  content: "\e55d";
}
.icon-notifications:before {
  content: "\e7f4";
}
.icon-notifications_active:before {
  content: "\e7f7";
}
.icon-notifications_none:before {
  content: "\e7f5";
}
.icon-notifications_off:before {
  content: "\e7f6";
}
.icon-open_with:before {
  content: "\e89f";
}
.icon-person_outline:before {
  content: "\e7ff";
}
.icon-person:before {
  content: "\e7fd";
}
.icon-person_add:before {
  content: "\e7fe";
}
.icon-refresh:before {
  content: "\e5d5";
}
.icon-visibility:before {
  content: "\e8f4";
}
.icon-replay:before {
  content: "\e042";
}
.icon-search:before {
  content: "\e8b6";
}
.icon-sentiment_dissatisfied:before {
  content: "\e811";
}
.icon-sentiment_neutral:before {
  content: "\e812";
}
.icon-sentiment_satisfied:before {
  content: "\e813";
}
.icon-sentiment_very_dissatisfied:before {
  content: "\e814";
}
.icon-sentiment_very_satisfied:before {
  content: "\e815";
}
.icon-settings:before {
  content: "\e8b8";
}
.icon-stay_primary_portrait:before {
  content: "\e0d6";
}
.icon-sort:before {
  content: "\e164";
}
.icon-star_border:before {
  content: "\e83a";
}
.icon-star_half:before {
  content: "\e839";
}
.icon-thumb_down:before {
  content: "\e8db";
}
.icon-thumb_up:before {
  content: "\e8dc";
}
.icon-tv:before {
  content: "\e333";
}
.icon-vibration:before {
  content: "\e62d";
}
.icon-view_module:before {
  content: "\e8f0";
}
.icon-view_stream:before {
  content: "\e8f2";
}
.icon-vpn_key:before {
  content: "\e0da";
}
.icon-wallpaper:before {
  content: "\e1bc";
}
.icon-widgets:before {
  content: "\e1bd";
}
.icon-zoom_out_map:before {
  content: "\e56b";
}
.icon-add_shopping_cart:before {
  content: "\e854";
}
.icon-shopping_cart:before {
  content: "\e8cc";
}
.icon-remove_shopping_cart:before {
  content: "\e928";
}
