@import "_inc";

.modal-fade-enter-active, .modal-fade-leave-active {
  transform: translateX(-50%) translateY(-50%);
  transition: transform .3s, opacity 0.3s;
}
.modal-fade-enter, .modal-fade-leave-to {
  transform: translateX(-50%) translateY(-45%) !important;
  opacity: 0;
}