<template>
  <div class="count-picker">
    <input @paste="handlePaste" @keydown="handleKeyDown" @input="inputValue" :value="value" :max="max" :min="min" :maxlength="maxlength" type="number" class="count"/>
    <div @click="decreaseCount" class="decrease">-</div>
    <div @click="increaseCount" class="increase">+</div>
  </div>
</template>
<script>
export default {
  props: ['value', 'max', 'min', 'maxlength'],
  methods: {
    decreaseCount () {
      if (this.value && this.value > this.min) {
        this.$emit('input', this.value - 1)
      }
    },
    increaseCount () {
      if (this.value && this.value < this.max) {
        this.$emit('input', this.value + 1)
      }
    },
    handlePaste (event) {
      event.preventDefault()
      return false
    }, 
    handleKeyDown (event) {
      const { keyCode } = event
      if ((keyCode < 48 || keyCode > 57) && keyCode !== 8) {
        event.preventDefault()
        return false
      }
    },
    inputValue (event) {
      const value = event.target.value
      if (/^\d*$/.test(value)) {
        this.$emit('input', value)
      } else {
        this.$emit('input', 1)
      }
    }
  }
}
</script>
<style lang="scss">
@import 'assets/scss/inc';

.count-picker{
  position: relative;
  width: 90px;
  height: 32px;
  overflow: hidden;
  border-radius: 3px;
  .decrease,
  .increase{
    position: absolute;
    z-index: 2;
    top: 1px;
    width: 20px;
    height: 30px;
    color: $color_caption_light;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    &:hover{
      background-color: $color_ultra_light;
    }
  }
  .decrease{
    left: 1px;
    border-right: 1px solid $color_light;
    border-radius: 3px 0 0 3px;
  }
  .increase{
    right: 1px;
    border-left: 1px solid $color_light;
    border-radius: 0 3px 3px 0;
  }
  .count{
    width: 100%;
    height: 32px;
    background-color: #fff;
    border: 1px solid $color_light;
    border-radius: 3px;
    text-align: center;
    user-select: none;
    &:focus{
      border-color: $color_primary;
    }
  }
}
</style>

