<template>
  <modal
    name="dialog"
    height="auto"
    :classes="['v--modal', 'dialog', this.params.class]"
    :width="width"
    :pivot-y="0.3"
    :adaptive="true"
    :clickToClose="clickToClose"
    :transition="transition"
    @before-open="beforeOpened"
    @before-close="beforeClosed"
    @opened="$emit('opened', $event)"
    @closed="$emit('closed', $event)"
  >
    <div class="dialog-content">
      <i v-if="params.icon" :class="`icon icon-${params.icon}`"></i>
      <h5 class="title" v-if="params.title" v-html="params.title || ''"></h5>
      <div class="text" v-html="params.text || ''"></div>
    </div>
    <div class="dialog-buttons" v-if="buttons">
      <button
        v-for="(button, i) in buttons"
        :class="button.class || 'dialog-button'"
        type="button"
        :key="i"
        v-html="button.title"
        @click.stop="click(i, $event)"
      >
        {{button.title}}
      </button>
    </div>
  </modal>
</template>
<script>
export default {
  props: {
    width: {
      type: [Number, String],
      default: 320
    },
    clickToClose: {
      type: Boolean,
      default: true
    },
    transition: {
      type: String,
      default: 'modal-fade'
    }
  },
  data () {
    return {
      params: {},
      defaultButtons: [{ title: '好的' }]
    }
  },
  computed: {
    buttons () {
      return this.params.buttons || this.defaultButtons
    }
  },
  methods: {
    beforeOpened (event) {
      window.addEventListener('keyup', this.onKeyUp)
      this.params = event.params || {}
      this.$emit('before-opened', event)
    },
    beforeClosed (event) {
      window.removeEventListener('keyup', this.onKeyUp)
      this.params = {}
      this.$emit('before-closed', event)
    },
    click (i, event, source = 'click') {
      const button = this.buttons[i]
      if (button && typeof button.handler === 'function') {
        button.handler(i, event, { source })
      } else {
        this.$modal.hide('dialog')
      }
    },
    onKeyUp (event) {
      if (event.which === 13 && this.buttons.length > 0) {
        const buttonIndex =
          this.buttons.length === 1
            ? 0
            : this.buttons.findIndex(button => button.default)

        if (buttonIndex !== -1) {
          this.click(buttonIndex, event, 'keypress')
        }
      }
    }
  }
}
</script>
<style lang="scss">
@import 'assets/scss/inc';

.dialog{
  padding: 20px 0;
  .dialog-content{
    padding: 30px;
  }
  .icon{
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    color: $color_light;
    font-size: 100px;
    line-height: 120px;
    text-align: center;
  }
  .title{
    color: $color_caption_dark;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }
  .text{
    margin-top: 10px;
    color: $color_caption;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .dialog-buttons{
    display: block;
    padding-bottom: 30px;
    border-top: none;
    text-align: center;
    .button{
      display: block;
      width: 300px;
      margin: 10px auto 0 auto;
    }
  }
}
</style>