<template>
  <div class="netink-loading" :style="top ? {marginTop: top} : {}">
    <div class="loader">
      <div class="rect rect-1"></div>
      <div class="rect rect-2"></div>
      <div class="rect rect-3"></div>
      <div class="rect rect-4"></div>
      <div class="rect rect-5"></div>
    </div>
    <span class="text">{{text}}</span>
  </div>
</template>
<script>
export default {
  props: ['text', 'top']
}
</script>
<style lang="scss">
@import 'assets/scss/inc';

$rectCount: 5;
$animationDuration: 1.2s;
$delayRange: 0.4s;

.netink-loading{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  .loader {
    width: 80px;
    height: 30px;
    text-align: center;
    font-size: 10px;
    .rect {
      background-color: rgba($color_primary, 1);
      height: 100%;
      width: 4px;
      margin: 0 2px;
      display: inline-block;
      animation: waveDelay $animationDuration infinite ease-in-out;
    }
    @for $i from 1 through 5 {
      .rect-#{$i} { animation-delay: - $animationDuration + $delayRange / ($rectCount - 1) * ($i - 1); }
    }
  }
  .text{
    display: block;
    margin-top: 15px;
    color: $color_caption_ultra_light;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }

}

@keyframes waveDelay {
  0%, 40%, 100% {
    opacity: .5;
    transform: scaleY(0.4)
  }
  20% {
    opacity: 1;
    transform: scaleY(1.0)
  }
}
</style>

