<template>
  <div class="netink-pagination">
    <nuxt-link exact :to="`${urlPrefix}/${pagePrev}`" :class="{disabled: page === 1 || total === 0}" class="page page-prev">
      <i class="icon-navigate_before"></i>
    </nuxt-link>
    <nuxt-link exact :to="`${urlPrefix}/${pageNext}`" :class="{disabled: page === totalPage || total === 0}" class="page page-prev">
      <i class="icon-navigate_next"></i>
    </nuxt-link>
  </div>
</template>
<script>
export default {
  props: {
    urlPrefix: String,
    page: Number,
    pageSize: Number,
    total: Number,
    ignoreFirstPage: {
      type: Boolean,
      default () {
        return false
      }
    }
  },
  computed: {
    totalPage () {
      return Math.ceil(this.total / this.pageSize)
    },
    pagePrev () {
      const result = this.page > 1 ? this.page - 1 : 1
      return this.ignoreFirstPage ? (result === 1 ? '' : result) : result
    },
    pageNext () {
      return this.page < this.totalPage ? this.page + 1 : this.totalPage
    }
  }
}
</script>
<style lang="scss">
@import 'assets/scss/inc';

.netink-pagination{
  height: 40px;
  text-align: center;
  .page{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    background-color: $color_ultra_light;
    border-radius: 3px;
    color: $color_caption;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    i{
      line-height: 40px;
    }
    &:hover{
      background-color: $color_light;
    }
    &.disabled{
      opacity: .4;
      pointer-events: none;
    }
  }
}
</style>

