<template>
  <div class="netink-toast-loading">
    <loading :text="text" top="60px"/>
  </div>
</template>
<script>
export default {
  props: {
    'text': {
      type: String,
      default: () => '请稍候'
    },
  }
}
</script>
<style lang="scss">
@import 'assets/scss/inc';

.netink-toast-loading{
  width: 180px;
  height: 180px;
  overflow: hidden;
  background-color: #fff;
}
</style>