<template>
  <div class="netink-page page-search">
    <header class="header-section">
      <div class="container">
        <h3 class="caption pull-left">
          <span>搜索商品</span>
          <small>共找到{{products.total}}个与<b>{{keyword}}</b>相关的商品</small>
        </h3>
        <div class="searcher pull-right">
          <i @click="searchProducts" class="iconfont icon-search"></i>
          <input @keyup.enter="searchProducts" v-model.trim="query.keyword" type="text" maxlength="30" class="input-keyword pull-left" placeholder="搜索商品"/>
          <button class="button button-primary button-md button-search pull-right">搜索</button>
        </div>
      </div>
    </header>
    <div v-if="!loading && products.items.length" class="products-section container">
      <product-list :products="products.items" />
      <button v-if="products.items.length < products.total" @click="loadMoreProducts" class="button button-primary button-xl button-view-all">查看更多</button>
    </div>
    <div v-else-if="!loading && !products.items.length" class="product-section container">
      <div class="empty-list">
        <i class="icon icon-sentiment_dissatisfied"></i>
        <span class="text">抱歉，没有找到与<b>{{keyword}}</b>相关的商品</span>
      </div>
    </div>
    <div v-else class="products-section container">
      <loading text="商品加载中" top="200px" />
    </div>
  </div>
</template>

<script>
import ProductList from '~/components/business/ProductList'
import ProductHelper from '~/helpers/Product'

export default {
  head () {
    return {
      title: '搜索商品 - 网印网 专业网络印刷服务商'
    }
  },
  components: {
    ProductList,
  },
  data () {
    return {
      keyword: '',
      query: {
        keyword: '',
        page: 1,
        pageSize: 16
      },
      loading: true,
      products: {
        total: 0,
        items: []
      },
    }
  },
  async asyncData (params) {
    if (params.route.params && params.route.params.keyword) {
      const keyword = params.route.params.keyword.trim()
      try {
        const products = await ProductHelper.getProducts({ page: 1, per_page: 16, search: keyword })
        return { products, keyword, loading: false }
      } catch (error) {
        return { keyword, loading: false }
      }
    } else {
      return { loading: false }
    }
  },
  mounted () {
    
  },
  methods: {
    searchProducts () {
      const keyword = this.query.keyword.trim()
      keyword && this.$router.push(`/products/search/${keyword}`)
    },
    loadMoreProducts () {

    }
  }
}
</script>

<style lang="scss">
@import 'assets/scss/inc';

.page-search{
  .header-section{
    height: 85px;
    border-bottom: 1px solid $color_light;
    .caption{
      color: $color_caption_dark;
      font-size: 20px;
      font-weight: normal;
      small{
        display: block;
        color: $color_caption_light;
        font-size: 14px;
      }
    }
    .searcher{
      position: relative;
      margin-top: 5px;
      .icon-search{
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 36px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        color: $color_caption;
        cursor: pointer;
        &:hover{
          color: $color_primary;
        }
      }
      .input-keyword{
        width: 280px;
        height: 36px;
        padding: 0 10px;
        border: 1px solid $color_light;
        border-radius: 3px;
        color: $color_caption;
        font-size: 14px;
        &:focus{
          border-color: $color_primary;
        }
      }
      .button-search{
        display: none;
        width: 80px;
      }
    }
  }
  .products-section{
    margin: 50px auto;
    .button-view-all{
      display: block;
      width: 180px;
      margin: 40px auto 0 auto;
    }
  }
  .empty-list{
    margin-top: 120px;
    text-align: center;
    .icon{
      display: block;
      width: 120px;
      height: 120px;
      margin: 0 auto;
      color: $color_caption_light;
      font-size: 120px;
    }
    .text{
      display: block;
      margin-top: 20px;
      color: $color_caption;
      font-size: 18px;
      // font-weight: normal;
    }
  }
}
</style>
