<template>
  <div class="netink-page-container">
    <nav-bar/>
    <nuxt-child/>
    <page-footer/>
    <no-ssr><v-dialog width="360"/></no-ssr>
    <no-ssr>
      <notifications group="notify" :max="3" position="top right">
        <template slot="body" slot-scope="props">
          <div class="netink-notify" :class="props.item.type">
            <i v-if="props.item.type === 'success'" class="icon icon-sentiment_very_satisfied"></i>
            <i v-else-if="props.item.type === 'warn'" class="icon icon-error_outline"></i>
            <i v-else-if="props.item.type === 'error'" class="icon icon-sentiment_very_dissatisfied"></i>
            <i v-else class="icon icon-notifications_none"></i>
            <h5 class="title">{{props.item.title}}</h5>
            <div class="text" v-html="props.item.text || '来自网印网的消息'"></div>
            <a class="button-close" @click="props.close"><i class="icon-close"></i></a>
          </div>
        </template>
      </notifications>
    </no-ssr>
    <no-ssr>
      <notifications group="toast" :max="3" position="top center">
        <template slot="body" slot-scope="props">
          <div class="netink-toast" :class="props.item.type">
            <span class="text">{{props.item.text}}</span>
          </div>
        </template>
      </notifications>
    </no-ssr>
  </div>
</template>

<script>
import NavBar from '~/components/business/NavBar'
import PageFooter from '~/components/business/Footer'
import Authorize from '~/components/business/Authorize'
import ToastLoading from '~/components/common/ToastLoading'

export default {
  head () {
    return {
      title: '网印网 专业网络印刷服务商'
    }
  },
  components: {
    NavBar,
    PageFooter
  },
  methods: {
    showToast (params = {}) {
      this.$notify({
        group: 'toast',
        ...params
      })
    },
    showToastLoading (params = {}) {
      this.$modal.show(ToastLoading, params, {
        name: 'toast-loading',
        width: 180,
        height: 180,
        class: 'toast-loading',
        clickToClose: false
      })
    },
    hideToast () {
      this.$modal.hide('toast')
    },
    hideToastLoading () {
      this.$modal.hide('toast-loading')
    },
    showNotify (params = {}) {
      this.$notify({
        group: 'notify',
        duration: 3000,
        ...params,
      })
    },
    showAlert (params = {}) {
      this.$modal.show('dialog', {
        title: params.title,
        text: params.text,
        icon: 'info_outline',
        buttons: [
          {
            title: params.confirmText || '确定',
            class: 'button button-primary button-lg',
            handler: () => {
              this.$modal.hide('dialog')
              params.onConfirm && params.onConfirm()
            }
          }
        ]
      })
    },
    showConfirm (params = {}) {
      this.$modal.show('dialog', {
        title: params.title,
        text: params.text,
        icon: 'info_outline',
        buttons: [
          {
            title: params.confirmText || '确定',
            class: 'button button-primary button-lg',
            handler: () => {
              this.$modal.hide('dialog')
              params.onConfirm && params.onConfirm()
            }
          }, {
            title: params.confirmText || '取消',
            class: 'button button-default button-lg',
            handler: () => {
              this.$modal.hide('dialog')
              params.onCancel && params.onCancel()
            }
          }
        ],
      })
    },
    showAuthorizeModal (params = {}) {
      this.$modal.show(Authorize, {
        onClose: params.failure,
        onSignIn: params.success,
        onSignUp: params.success
      }, {
        name: 'authorize-modal',
        width: 400,
        height: 'auto',
        transition: 'modal-fade',
        clickToClose: false
      })
    },
  },
  mounted () {

    // 注册UI组件触发事件
    eventBus.$on('request-toast', this.showToast)
    eventBus.$on('request-toast-loading', this.showToastLoading)
    eventBus.$on('request-hide-toast', this.hideToast)
    eventBus.$on('request-hide-toast-loading', this.hideToastLoading)
    eventBus.$on('request-notify', this.showNotify)
    eventBus.$on('request-alert', this.showAlert)
    eventBus.$on('request-confirm', this.showConfirm)
    eventBus.$on('request-authorize', this.showAuthorizeModal)

  }
}
</script>

<style lang="scss">
@import 'assets/scss/inc';
</style>
